@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.eot');
    src: url('fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('fonts/OpenSansBold.woff2') format('woff2'),
         url('fonts/OpenSansBold.woff') format('woff'),
         url('fonts/OpenSansBold.ttf') format('truetype'),
         url('fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/OpenSansItalic.eot');
    src: url('fonts/OpenSansItalic.eot') format('embedded-opentype'),
         url('fonts/OpenSansItalic.woff2') format('woff2'),
         url('fonts/OpenSansItalic.woff') format('woff'),
         url('fonts/OpenSansItalic.ttf') format('truetype'),
         url('fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
}

@font-face {
    font-family: 'UTMImpact';
    src: url('fonts/UTMImpact.eot');
    src: url('fonts/UTMImpact.eot') format('embedded-opentype'),
         url('fonts/UTMImpact.woff2') format('woff2'),
         url('fonts/UTMImpact.woff') format('woff'),
         url('fonts/UTMImpact.ttf') format('truetype'),
         url('fonts/UTMImpact.svg#UTMImpact') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('fonts/OpenSansRegular.woff2') format('woff2'),
         url('fonts/OpenSansRegular.woff') format('woff'),
         url('fonts/OpenSansRegular.ttf') format('truetype'),
         url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoRegular.eot');
    src: url('fonts/RobotoRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoRegular.woff2') format('woff2'),
         url('fonts/RobotoRegular.woff') format('woff'),
         url('fonts/RobotoRegular.ttf') format('truetype'),
         url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/RobotoBold.eot');
    src: url('fonts/RobotoBold.eot') format('embedded-opentype'),
         url('fonts/RobotoBold.woff2') format('woff2'),
         url('fonts/RobotoBold.woff') format('woff'),
         url('fonts/RobotoBold.ttf') format('truetype'),
         url('fonts/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'RobotoBlack';
    src: url('fonts/RobotoBlack.eot');
    src: url('fonts/RobotoBlack.eot') format('embedded-opentype'),
         url('fonts/RobotoBlack.woff2') format('woff2'),
         url('fonts/RobotoBlack.woff') format('woff'),
         url('fonts/RobotoBlack.ttf') format('truetype'),
         url('fonts/RobotoBlack.svg#RobotoBlack') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('fonts/RobotoCondensedBold.eot');
    src: url('fonts/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('fonts/RobotoCondensedBold.woff2') format('woff2'),
         url('fonts/RobotoCondensedBold.woff') format('woff'),
         url('fonts/RobotoCondensedBold.ttf') format('truetype'),
         url('fonts/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('fonts/RobotoCondensedRegular.eot');
    src: url('fonts/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('fonts/RobotoCondensedRegular.woff2') format('woff2'),
         url('fonts/RobotoCondensedRegular.woff') format('woff'),
         url('fonts/RobotoCondensedRegular.ttf') format('truetype'),
         url('fonts/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}
@font-face {
    font-family: 'RobotoItalic';
    src: url('fonts/RobotoItalic.eot');
    src: url('fonts/RobotoItalic.eot') format('embedded-opentype'),
         url('fonts/RobotoItalic.woff2') format('woff2'),
         url('fonts/RobotoItalic.woff') format('woff'),
         url('fonts/RobotoItalic.ttf') format('truetype'),
         url('fonts/RobotoItalic.svg#RobotoItalic') format('svg');
}
@font-face {
    font-family: 'SFUHelveticaLight';
    src: url('fonts/SFUHelveticaLight.eot');
    src: url('fonts/SFUHelveticaLight.eot') format('embedded-opentype'),
         url('fonts/SFUHelveticaLight.woff2') format('woff2'),
         url('fonts/SFUHelveticaLight.woff') format('woff'),
         url('fonts/SFUHelveticaLight.ttf') format('truetype'),
         url('fonts/SFUHelveticaLight.svg#SFUHelveticaLight') format('svg');
}
@font-face {
    font-family: 'SFUEurostileCondensed';
    src: url('fonts/SFUEurostileCondensed.eot');
    src: url('fonts/SFUEurostileCondensed.eot') format('embedded-opentype'),
         url('fonts/SFUEurostileCondensed.woff2') format('woff2'),
         url('fonts/SFUEurostileCondensed.woff') format('woff'),
         url('fonts/SFUEurostileCondensed.ttf') format('truetype'),
         url('fonts/SFUEurostileCondensed.svg#SFUEurostileCondensed') format('svg');
}
@font-face {
    font-family: 'SFUFuturaBook';
    src: url('fonts/SFUFuturaBook.eot');
    src: url('fonts/SFUFuturaBook.eot') format('embedded-opentype'),
         url('fonts/SFUFuturaBook.woff2') format('woff2'),
         url('fonts/SFUFuturaBook.woff') format('woff'),
         url('fonts/SFUFuturaBook.ttf') format('truetype'),
         url('fonts/SFUFuturaBook.svg#SFUFuturaBook') format('svg');
}
@font-face {
    font-family: 'UTMAvo';
    src: url('fonts/UTMAvo.eot');
    src: url('fonts/UTMAvo.eot') format('embedded-opentype'),
         url('fonts/UTMAvo.woff2') format('woff2'),
         url('fonts/UTMAvo.woff') format('woff'),
         url('fonts/UTMAvo.ttf') format('truetype'),
         url('fonts/UTMAvo.svg#UTMAvo') format('svg');
}
@font-face {
    font-family: 'UTMAvoBold';
    src: url('fonts/UTMAvoBold.eot');
    src: url('fonts/UTMAvoBold.eot') format('embedded-opentype'),
         url('fonts/UTMAvoBold.woff2') format('woff2'),
         url('fonts/UTMAvoBold.woff') format('woff'),
         url('fonts/UTMAvoBold.ttf') format('truetype'),
         url('fonts/UTMAvoBold.svg#UTMAvoBold') format('svg');
}
@font-face {
    font-family: 'GothamNarrowBook';
    src: url('fonts/GothamNarrowBook.eot');
    src: url('fonts/GothamNarrowBook.eot') format('embedded-opentype'),
         url('fonts/GothamNarrowBook.woff2') format('woff2'),
         url('fonts/GothamNarrowBook.woff') format('woff'),
         url('fonts/GothamNarrowBook.ttf') format('truetype'),
         url('fonts/GothamNarrowBook.svg#GothamNarrowBook') format('svg');
}
@font-face {
    font-family: 'UTMHelvetIns';
    src: url('fonts/UTMHelvetIns.eot');
    src: url('fonts/UTMHelvetIns.eot') format('embedded-opentype'),
         url('fonts/UTMHelvetIns.woff2') format('woff2'),
         url('fonts/UTMHelvetIns.woff') format('woff'),
         url('fonts/UTMHelvetIns.ttf') format('truetype'),
         url('fonts/UTMHelvetIns.svg#UTMHelvetIns') format('svg');
}



/*--------end---------------------*/
