.mg-0 { margin: 0px !important; }
.mg-5 { margin: 5px }
.mg-10 { margin: 10px }
.mg-15 { margin: 15px }
.mg-20 { margin: 20px }
.mg-25 { margin: 25px }
.mg-30 { margin: 30px }
.mg-35 { margin: 35px }
.mg-40 { margin: 40px }
.mg-45 { margin: 45px }
.mg-50 { margin: 50px }
.pd-0 { padding: 0px !important }
.pd-5 { padding: 5px }
.pd-10 { padding: 10px }
.pd-15 { padding: 15px }
.pd-20 { padding: 20px }
.pd-25 { padding: 25px }
.pd-30 { padding: 30px }
.pd-35 { padding: 35px }
.pd-40 { padding: 40px }
.pd-45 { padding: 45px }
.pd-50 { padding: 50px }
.mt-0 { margin-top: 0px }
.mt-5 { margin-top: 5px }
.mt-10 { margin-top: 10px }
.mt-15 { margin-top: 15px }
.mt-20 { margin-top: 20px }
.mt-25 { margin-top: 25px }
.mt-30 { margin-top: 30px }
.mt-35 { margin-top: 35px }
.mt-40 { margin-top: 40px }
.mt-45 { margin-top: 45px }
.mt-50 { margin-top: 50px }
.mb-0 { margin-bottom: 0px }
.mb-5 { margin-bottom: 5px }
.mb-10 { margin-bottom: 10px }
.mb-15 { margin-bottom: 15px }
.mb-20 { margin-bottom: 20px }
.mb-25 { margin-bottom: 25px }
.mb-30 { margin-bottom: 30px }
.mb-35 { margin-bottom: 35px }
.mb-40 { margin-bottom: 40px }
.mb-45 { margin-bottom: 45px }
.mb-50 { margin-bottom: 50px }
.ml-0 { margin-left: 0px !important; }
.ml-5 { margin-left: 5px }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-25 { margin-left: 25px }
.ml-30 { margin-left: 30px }
.ml-35 { margin-left: 35px }
.ml-40 { margin-left: 40px }
.ml-45 { margin-left: 45px }
.ml-50 { margin-left: 50px }
.mr-0 { margin-right: 0px !important; }
.mr-5 { margin-right: 5px }
.mr-10 { margin-right: 10px }
.mr-15 { margin-right: 15px }
.mr-20 { margin-right: 20px }
.mr-25 { margin-right: 25px }
.mr-30 { margin-right: 30px }
.mr-35 { margin-right: 35px }
.mr-40 { margin-right: 40px }
.mr-45 { margin-right: 45px }
.mr-50 { margin-right: 50px }
.pt-0 { padding-top: 0px }
.pt-5 { padding-top: 5px }
.pt-10 { padding-top: 10px }
.pt-15 { padding-top: 15px }
.pt-20 { padding-top: 20px }
.pt-25 { padding-top: 25px }
.pt-30 { padding-top: 30px }
.pt-35 { padding-top: 35px }
.pt-40 { padding-top: 40px }
.pt-45 { padding-top: 45px }
.pt-50 { padding-top: 50px }
.pb-0 { padding-bottom: 0px }
.pb-5 { padding-bottom: 5px }
.pb-10 { padding-bottom: 10px }
.pb-15 { padding-bottom: 15px }
.pb-20 { padding-bottom: 20px }
.pb-25 { padding-bottom: 25px }
.pb-30 { padding-bottom: 30px }
.pb-35 { padding-bottom: 35px }
.pb-40 { padding-bottom: 40px }
.pb-45 { padding-bottom: 45px }
.pb-50 { padding-bottom: 50px }
.pl-0 { padding-left: 0px }
.pl-5 { padding-left: 5px }
.pl-10 { padding-left: 10px }
.pl-15 { padding-left: 15px }
.pl-20 { padding-left: 20px }
.pl-25 { padding-left: 25px }
.pl-30 { padding-left: 30px }
.pl-35 { padding-left: 35px }
.pl-40 { padding-left: 40px }
.pl-45 { padding-left: 45px }
.pl-50 { padding-left: 50px }
.pr-0 { padding-right: 0px }
.pr-5 { padding-right: 5px }
.pr-10 { padding-right: 10px }
.pr-15 { padding-right: 15px }
.pr-20 { padding-right: 20px }
.pr-25 { padding-right: 25px }
.pr-30 { padding-right: 30px }
.pr-35 { padding-right: 35px }
.pr-40 { padding-right: 40px }
.pr-45 { padding-right: 45px }
.pr-50 { padding-right: 50px }
.t-center { text-align: center }
.t-right { text-align: right }
.t-left { text-align: left }
.t-justify { text-align: justify }
.f-left { float: left }
.f-right { float: right }
.f-none { float: none }
.o-visible { overflow: visible }
.o-hidden { overflow: hidden }
.o-hidden-x { overflow-x: hidden }
.o-hidden-y { overflow-y: hidden }
.o-hidden-xc { overflow-x: scroll }
.o-hidden-yc { overflow-y: scroll }
.p-relative { position: relative }
.p-absolute { position: absolute }
.p-static { position: static }
.p-fixed { position: fixed }
.p-sticky { position: sticky }
.p-initial { position: initial }
.p-inherit { position: inherit }
::-webkit-input-placeholder { color:#ccc; font-family: 'GothamNarrowBook'; font-weight: 300; font-size: 14px; }
:-moz-placeholder { color:#ccc; font-family: 'GothamNarrowBook'; font-weight: 300; font-size: 14px; }
::-moz-placeholder { color:#ccc; font-family: 'GothamNarrowBook'; font-weight: 300; font-size: 14px; }
:-ms-input-placeholder { color:#ccc; font-family: 'GothamNarrowBook'; font-weight: 300; font-size: 14px; }
.td-overline { text-decoration: overline }
.td-line-through { text-decoration: line-through }
.td-underline { text-decoration: underline }
.td-none { text-decoration: none }
.t-lowercase { text-transform: lowercase }
.t-uppercase { text-transform: uppercase }
.t-capitalize { text-transform: capitalize }
.t-weight-light { font-weight: 300 }
.t-weight-normal { font-weight: 400 }
.t-weight-bold { font-weight: 700 }
.t-italic { font-style: italic }
.bg-blue { background: #007bff }
.bg-indigo { background: #6610f2 }
.bg-purple { background: #6f42c1 }
.bg-pink { background: #e83e8c }
.bg-red { background: #dc3545 }
.bg-orange { background: #fd7e14 }
.bg-yellow { background: #ffc107 }
.bg-green { background: #28a745 }
.bg-teal { background: #20c997 }
.bg-cyan { background: #17a2b8 }
.bg-white { background: #ffffff }
.bg-gray { background: #6c757d }
.bg-gray-dark { background: #343a40 }
.bg-primary { background: #007bff }
.bg-secondary { background: #6c757d }
.bg-success { background: #28a745 }
.bg-info { background: #17a2b8 }
.bg-warning { background: #ffc107 }
.bg-danger { background: #dc3545 }
.bg-light { background: #f8f9fa }
.bg-dark { background: #343a40 }
.bg-transparent { background: transparent !important }
.cl-black{color: #333 !important;}
.cl-blue { color: #007bff }
.cl-indigo { color: #6610f2 }
.cl-purple { color: #6f42c1 }
.cl-pink { color: #e83e8c }
.cl-red { color: #dc3545 !important; }
.cl-orange { color: #fd7e14 }
.cl-yellow { color: #ffc107 }
.cl-green { color: #28a745 }
.cl-teal { color: #20c997 }
.cl-cyan { color: #17a2b8 }
.cl-white { color: #ffffff }
.cl-gray { color: #6c757d !important; }
.cl-gray-dark { color: #343a40 }
.cl-primary { color: #007bff }
.cl-secondary { color: #6c757d }
.cl-success { color: #28a745 }
.cl-info { color: #17a2b8 }
.cl-warning { color: #ffc107 }
.cl-danger { color: #dc3545 }
.cl-light { color: #f8f9fa }
.cl-dark { color: #343a40 }
.border-0 { border: 0 }
.border-top-0 { border-top: 0 }
.border-right-0 { border-right: 0 }
.border-bottom-0 { border-bottom: 0 }
.border-left-0 { border-left: 0 }
.clearfix { zoom: 1 }
.clearfix:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden }
.bx-border { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.bx-content { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box }
.ds-block { display: block; }
.ds-inline { display: inline; }
.ds-inline-block { display: inline-block; }
.ds-none { display: none; }
.ds-flex { display: flex; }
.mw-100 { max-width: 100%; }
.w-100-i { width: 100% !important; }
.w-100 { width: 100%; }
.w-95 { width: 95%; }
.w-90 { width: 90%; }
.w-85 { width: 85%; }
.w-80 { width: 80%; }
.w-75 { width: 75%; }
.w-70 { width: 70%; }
.w-65 { width: 65%; }
.w-60 { width: 60%; }
.w-55 { width: 55%; }
.w-50 { width: 50%; }
.w-45 { width: 45%; }
.w-40 { width: 40%; }
.w-35 { width: 35%; }
.w-30 { width: 30%; }
.w-25 { width: 25%; }
.w-20 { width: 20%; }
.w-15 { width: 15%; }
.w-10 { width: 10%; }
.w-5 { width: 5%; }
.cursor-pointer{
	cursor: pointer;
}
.socialmediaicons .fa:hover { color: white; opacity: 0.8; }
.socialmediaicons .fa {padding: 10px;font-size: 17px;width: 100%;text-align: center;text-decoration: none;margin: 5px 2px;}
.socialmediaicons2 .fa { padding: 20px; font-size: 30px; width: 100%; border-radius: 50%; text-decoration: none; margin: 5px 2px; }
.socialmediaicons .fa-facebook { background: #3B5998; color: white; }
.socialmediaicons .fa-twitter { background: #55ACEE; color: white; }
.socialmediaicons .fa-google { background: #dd4b39; color: white; }
.socialmediaicons .fa-linkedin { background: #007bb5; color: white; }
.socialmediaicons .fa-youtube { background: #bb0000; color: white; }
.socialmediaicons .fa-instagram { background: #125688; color: white; }
.socialmediaicons .fa-pinterest { background: #cb2027; color: white; }
.socialmediaicons .fa-snapchat-ghost { background: #fffc00; color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.socialmediaicons .fa-skype { background: #00aff0; color: white; }
.socialmediaicons .fa-android { background: #a4c639; color: white; }
.socialmediaicons .fa-dribbble { background: #ea4c89; color: white; }
.socialmediaicons .fa-vimeo { background: #45bbff; color: white; }
.socialmediaicons .fa-tumblr { background: #2c4762; color: white; }
.socialmediaicons .fa-vine { background: #00b489; color: white; }
.socialmediaicons .fa-foursquare { background: #45bbff; color: white; }
.socialmediaicons .fa-stumbleupon { background: #eb4924; color: white; }
.socialmediaicons .fa-flickr { background: #f40083; color: white; }
.socialmediaicons .fa-yahoo { background: #430297; color: white; }
.socialmediaicons .fa-soundcloud { background: #ff5500; color: white; }
.socialmediaicons .fa-reddit { background: #ff5700; color: white; }
.socialmediaicons .fa-rss { background: #ff6600; color: white; }
.socialmediaicons .fa-envelope { background: #777777; color: white; }
.socialmediaicons .fa-print { background: #67c700; color: white; }
