﻿@charset "utf-8";
@import url('css/reset.css');
:root {
    --font_r:'Noto Sans', sans-serif;
    --font_f:'Noto Sans', sans-serif;
    --color-r:#00adef;
    --color-f:#fff;
}
::-webkit-scrollbar {background:#fff;width:10px;height:11px;}
::-webkit-scrollbar-thumb {background:#BBBBBB;}
*{margin:0px;padding:0px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
html,body {font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:22px; text-rendering: optimizeLegibility;letter-spacing: 0.6px}
h1,h2,h3,h4,h5,h6{ margin: 0px; font-weight: normal;}
p{margin: 0px;}
ul, ol { list-style: none;margin: 0px;padding: 0px;list-style-type: none; }
a,a:focus{ text-decoration: none;outline: none;color: inherit;}
a:focus{-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
a:hover{text-decoration: none;}
.breadcrumb{display: none!important;}
div.breadcrumb {font-family:'SFUFuturaBook';background-color: #fff;margin-top: 20px;padding: 10px 0px; position: relative; border-radius: 0px;color: #000;border:1px solid #e2e2e2;}
#inner{padding-left: 10px;margin-bottom: 0px;}
#inner li:nth-last-child(1) span{display: none;}
#inner li{display: inline-block;list-style: none;}
#inner a{padding: 0px 10px}
div.breadcrumb a{color:#000;}  
div.breadcrumb a:hover{color: #2486c5;}
.grecaptcha-badge{visibility: hidden;}
.transi06{-webkit-transition: all .6s ease;-ms-transition: all .6s ease;-o-transition: all .6s ease;transition: all .6s ease;}
.fixmenu{position: fixed!important;top: 0px!important;left: 0px!important;margin: auto!important;width: 100%!important;z-index: 99!important;height: 55px!important;line-height: 55px!important;box-shadow: 1px 1px 5px #463e3e;}
.transf{/* -webkit-transform: translateY(-100%); */-ms-transform: translateY(-100%);-o-transform: translateY(-100%);/* transform: translateY(-100%); */}
.noidung_ta{padding:10px;}
.clear{clear: both;}
.visit_hidden{display: none;}
.margin-auto{max-width: 1220px;margin: 0 auto;padding: 0px 10px;}
.red{ color: #FB0000}
.div_css{margin:0px -15px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;flex-flow: row wrap;-webkit-flex-flow: row wrap;  }
#info{margin-top: 0px;}
#container{margin: auto; overflow: hidden;}
.wraper_trangtrong{position: relative;margin-bottom:20px;margin-top: 20px;}
.wraper_trangtrong img{max-width: 100%;height: auto;}
.transition{transition: 0.5s;-webkit-transition: 0.5s;-moz-transition: 0.5s;-ms-transition: 0.5s;-o-transition: 0.5s;-transition: 0.5s;}
.zit{ z-index:9999 !important;}
.zib{ z-index:0;}
.i-map-at{ background:#0097c9 !important; color:#FFF;}
.map{width:100%; height:500px; box-sizing:border-box;}
.box-map{position:relative; height:500px;}
.map{ position:absolute;}
.i-map{padding:5px 10px; background:#F5F5F5; cursor:pointer;}
.hidden_img{z-index: 9;width: 100%;overflow: hidden;transform:translateZ(0);position: relative;height: 100%;}
.zoom img {border: none;transition: 0.5s;-webkit-transition: 0.5s;-moz-transition: 0.5s;-ms-transition: 0.5s;-o-transition: 0.5s;-transition: 0.5s;width: 100%;}
.zoom:hover img{transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);-webkit-transform: scale(1.1);}
.hv_light2{ overflow:hidden; position:relative;}
.hv_light2:before {position: absolute;content: '';width: 100%;height: 100%;top: 0;left: 0;z-index: 1;-webkit-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out; }
.hv_light2:after {position: absolute;content: '';width: 100%;height: 100%;top: 0;left: 0;-webkit-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;}
.hv_light2:hover:before {right: 50%;left: 50%;width: 0;background: rgba(255, 255, 255, 0.5);}
.hv_light2:hover:after {height: 0;top: 50%;bottom: 50%;background: rgba(255, 255, 255, 0.5);}
/*==*/
.proloop {position: relative; }
.proloop:before,.proloop:after {content: ''; position: absolute; top: 4px; left: 4px; bottom: 4px; right: 4px;z-index: 99}
.proloop:before {border-top: 1px solid white; border-bottom: 1px solid white; transform: scale3d(0, 1, 1); }
.proloop:after {border-left: 1px solid white; border-right: 1px solid white; transform: scale3d(1, 0, 1); }
.proloop:hover:before, .proloop:hover:after {transform: scale3d(1, 1, 1); transition: transform 0.5s; }
/*====*/
.skew img {overflow: hidden; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; }
.skew img:hover {border-radius: 50%; -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }
.scale img {max-width: 100%; transition: all 0.6s; }
/*.scale:hover img {transform: translateX(5px) rotate(5deg) translateY(5px) scale(1.2); }*/
.button-hover{-webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; transition: all 300ms linear 0s; z-index: 3; position: relative; }
.button-hover:before {background:var(--color-r); bottom: 0; content: ""; display: inline-block; height: 100%; left: 0; position: absolute; width: 0; z-index: -1; -webkit-transition: all 300ms linear 0s; -moz-transition: all 300ms linear 0s; -o-transition: all 300ms linear 0s; -ms-transition: all 300ms linear 0s; transition: all 300ms linear 0s; border-radius: 0 2px 2px 0; }
.button-hover:hover:before {width: 100%; }
/*==*/
#loader-wrapper{width: 100%;height: 100%;position: fixed; top: 0%; left: 0%;display: flex;align-items: center;justify-content: center;z-index: 999999999;background: #fff}
.loadingcover{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(255,255,255,.75);z-index: 999}
.loader {position: relative; width: 2.5em; height: 2.5em; transform: rotate(165deg); }
.loader:before, .loader:after {content: ''; position: absolute; top: 50%; left: 50%; display: block; width: 0.5em; height: 0.5em; border-radius: 0.25em; transform: translate(-50%, -50%); }
.loader:before {animation: before 2s infinite; }
.loader:after {animation: after 2s infinite; }
@keyframes before {0% {width: 0.5em; box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); } 35% {width: 2.5em; box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75); } 70% {width: 0.5em; box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75); } 100% {box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); } }
@keyframes after {0% {height: 0.5em; box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); } 35% {height: 2.5em; box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75); } 70% {height: 0.5em; box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75); } 100% {box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); } }
.loader {position: absolute; top: calc(50% - 1.25em); left: calc(50% - 1.25em); }
/*==*/
#gotop {cursor: pointer;border-radius: 5px;transition: all 0.6s;position: fixed;z-index: 10;bottom: 55px;width: 45px;height: 45px;text-align: center;background-color: #199bbf;right: -45px;}
#gotop i.fa {color: white; font-size: 21px; line-height:40px; }
/*==*/
.qc_1 img{width: 100%}
.thanh_title{margin-bottom: 25px;background: #e8e8e8;position: relative;display: flex;}
.thanh_title h3{font-size:17px;height: 49px;color: #fff;background: url(images/thanh_03.png) no-repeat;display: inline-block;line-height: 1;padding: 18px 29px 11px 32px;text-transform: uppercase;font-family: 'RobotoBlack';position: relative;/* float: left; */width: 26%;}
/*-------slider------*/
#slider-top{}
/*---------header---------*/
#header{}
.wrap_banner{padding:10px 0px}
.logo{float: left;margin: -24px 5% 0px 0px;width: 14%;position: relative;text-align: center;}
.banner{float: left;margin-top:0px;width:600px;text-align: center;}
.hotline{float: right;}
.logo:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 1px;
    z-index: 1;
    width: 174px;
    border-bottom: 25px solid #fff;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
}

.item_spp:hover .mo_1 {
    opacity: 0;transform: scale(1.1) translateZ(0);
}

.item_spp:hover .mo_2 {
    opacity: 1;transform: scale(1.1) translateZ(0);
}

.prod_imag:hover .mo_1 {
    opacity: 0;transform: scale(1.1) translateZ(0);
}

.prod_imag:hover .mo_2 {
    opacity: 1;transform: scale(1.1) translateZ(0);
}
.hid_img {
    position: relative;
    transition: all 2s;

}
img.mo_1 {
    position: relative;
    display: inherit;
}
img.mo_2 {
    position: absolute;
    content: "";
    top: 0px;
    opacity: 0;
    transition: 0.5s all;
}
.fixmenu .search {
    margin-top: 20px!important;transition: all 0.5s;
}
.fixmenu #giohangtop {
    top: 0px!important;
}
.fixmenu .logo {
    margin: 0;
}

.fixmenu .logo img {
    width: 50px;
}
.logo img {position: relative;z-index: 1;}
/*---------header---------*/
/*.lienket{margin: 0px 0px 0px 0px;padding-top: 0px;position: relative;float: right;text-align: right;width: 28%;}*/
.lienket{margin: 0px 0px 0px 0px;padding-top: 0px;position: relative;float: right;text-align: right;    width: 30%;}
.lienket label{ float: left; font-weight: bold;  color: #fff; margin:3px 10px 0px 0px;  }
.lienket p{float: left;font-size: 14px;font-family: "RobotoCondensedRegular";color: #000000;margin-right: 37px;padding-top: 8px;}
.lienket p:nth-child(2){margin-right: 20px;}
.lienket a{padding: 0px 1px 0px 1px;float: right;color: #fff;text-align: right;    zoom: 0.9;}
.lienket h4{ float: left; font-size: 13px;color: #fff;font-weight: normal;margin-right: 19px;padding-top: 8px;font-family: "RobotoRegular";}
.lienket img:hover{opacity: 0.7;}
/*==============*/
div#menu_mobi {display:none; }
div#menu {position:relative;background: #fff;height: 87px;line-height: 87px;margin:auto;width:100%;}
div#menu ul {list-style:none;float: left;}
div#menu ul li {float:left; position:relative; z-index:9999999; padding: 0px 0px;}
div#menu ul li a {color: #00adef;font-size: 15px;padding: 0px 20px;text-transform: uppercase;display: block;font-weight: 700;font-family: 'OpenSansBold';/* font-family: 'SFUFuturaBook'; */}
div#menu div ul li:after{content:"";width:1px;height:11px;background: url(images/gach_menu.jpg) no-repeat;position: absolute;right: 0px;top: 22px;}
div#menu div ul li:nth-last-child(1):after{display: none;}
div#menu ul li a:hover,div#menu ul li a.active,div#menu ul li a.active2{color: #10475d;}
div#menu>div>ul>li>a:hover,div#menu>div>ul>li>a.active,div#menu>div>ul>li>a.active2{}
div#menu ul li a:hover span,div#menu ul li a.active span,div#menu ul li a.active2 span{}
div#menu ul li ul,div#menu ul li:hover ul li ul {position:absolute; margin-left:0px; display:none; }
div#menu ul li:hover ul {display:block; }
div#menu ul li ul li {width:220px;line-height:1.5;background: rgba(255,255,255,0.8);border-bottom:1px solid #fff; font-family: 'SFUFuturaBook';}
div#menu ul li ul li a {padding:8px 10px; text-transform:none; font-family: 'SFUFuturaBook'; }
div#menu ul li ul li a:hover{color: #10475d}
div#menu ul li ul li ul {left:220px; top:0px; } 
/*-------------------------------*/
/*-------meu-danhmucleft-------*/
#left{width:275px;float: left;}
#right{float: right;width:888px}
div.khung_danhmuc {margin-bottom: 15px;}
div#danhmuc {border-left:none; border-right:none; padding:0px 0px;}
div#danhmuc ul li {position:relative;background: url(images/bg_li_dm.jpg) repeat;}
div#danhmuc>ul>li:last-child>a {border:none;}
div#danhmuc ul li ul{position:absolute; left:100%; width:100%; top:0px;display:none;z-index: 999999;background: #fff;}
div#danhmuc ul li a {padding:10px 10px 10px 35px;color:#7f7f7f; font-family:'RobotoRegular'; font-size:15px; display:block; position:relative;}
div#danhmuc ul li a:hover {color:red; }
div#danhmuc ul li a:before{position: absolute;left: 23px;top: 15px;content: "";width:4px;height:7px;background: url(images/bf_li.png) no-repeat;}
div#danhmuc ul li ul li a {padding: 9px 5px 9px 22px;}
div#danhmuc ul li ul li a:after, div#danhmuc ul li ul li a:before{display:none;}
div#danhmuc ul li ul li:nth-last-child(1) a{border-bottom: none;}
.khung_danhmuc .thanh{position: relative;font-family:'UTMAvo';font-size:17px;color: #fff;text-transform: uppercase;background: #17a400;padding:12px 15px;line-height: 1}
.khung_danhmuc .thanh:before{content: "";background: url(images/bf_danhmuc.jpg) no-repeat;width:41px;height: 35px;position: absolute;top: 3px;left: 4px;}
.khung_danhmuc .thanh p{padding-left:20px;}
/*------endcotleft----------*/
#timkiem{width: 325px;float: right;background-color: #fff;height: 30px;margin-top:10px;position: relative;border: 1px solid #e6ebed;border-right: none;}
#timkiem select{ border: 0px; width: 100px; }
#timkiem input{float: left;width:calc(100% - 40px);height: 29px;outline: none;border: none;background-color: #fff;font-size: 14px;color: #000;padding-left: 10px;}
#timkiem button {position: relative; top: -1px; width: 40px; height: 30px; outline: none; border: none; background: url(images/search.png) center no-repeat #ff0000; }
#timkiem input::-webkit-input-placeholder {color: #818181;font-size: 13px;}
#timkiem input:-moz-placeholder { /* Firefox 18- */color: #818181;font-size: 13px;  }
#timkiem input::-moz-placeholder {  /* Firefox 19+ */color: #818181;font-size: 13px;}
#timkiem input:-ms-input-placeholder {  color: #818181;font-size: 13px;  }

#search_mobi input::-webkit-input-placeholder {color: #fff;font-size: 13px;}
#search_mobi input:-moz-placeholder { /* Firefox 18- */color: #fff;font-size: 13px;  }
#search_mobi input::-moz-placeholder {  /* Firefox 19+ */color: #fff;font-size: 13px;}
#timsearch_mobikiem input:-ms-input-placeholder {  color: #fff;font-size: 13px;  }
/*-----sanpham----*/
.item{float: left;position: relative;padding: 0px 15px;margin-bottom:30px;width: calc(100% / 4)}
.item .product_images{position: relative;padding: 0px;}
.item .product_images img {max-width: 100%;border: none;transition: 0.5s;-webkit-transition: 0.5s;-moz-transition: 0.5s;-ms-transition: 0.5s;-o-transition: 0.5s;-transition: 0.5s;}
.item .product_images:hover img{transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);-o-transform: scale(1.1);-webkit-transform: scale(1.1);}
.item > .product_images > a > span{position: absolute;width: 45px;height: 45px;display: flex;align-items: center;justify-content: center;background: url(images/i_km.png) no-repeat;top: 9px;right: 9px;font-size: 14px;color: #fff;}
.ten_item{padding: 11px 5px;border-top: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;display: flex;}
.ten_item h3{font-size: 15px;color: #222222;font-family: 'OpenSansRegular';}
.ten_item .giaban{font-size: 19.2px;color: #ed1c24;font-family: 'UTMImpact';padding-left: 5px;}
.ten_item .giaban span{color: #ed1c24;}
.slick-prev{position: absolute;top: -45px;right:40px;width: 20px;height: 20px;background: url(images/prev_s.png);}
.slick-next{transform:rotate(180deg);position: absolute;top: -45px;right:16px;width: 20px;height: 20px;background: url(images/prev_s.png);}
/*=======css trang trong======*/
/*================Chi tiết sản phẩm======================*/
.chitiet_sanpham {margin-bottom: 10px;}
.imgsp {float: left; width:40%;margin-bottom: 20px;text-align: center;}
.custom-container{width: 100%;float: right;}
.custom-container .prev,.custom-container .netxt{float: left;}
.custom-container .next,.custom-container .prev{font-size: 20px;}
.custom-container .next:hover,.custom-container .prev:hover{color: red;}
.main_img_detail{padding-top: 15px;}
.box_des_detail {padding: 0px 5px;width: 57%;float: right;}
.item_des_detail {padding: 5px 0px;font-family: 'RobotoRegular';font-size: 15px;color: black;border-bottom: 1px solid #eee}
.item_des_detail i{color: #ff0000;font-style:normal;font-family:'RobotoBold'}
.ten_detail{font-size:22px;text-transform: uppercase;font-family:'RobotoBold'}
.w_chiase{background: #e2e2e2e2;padding: 12px 10px 0px 10px}
.bottom_none{border-bottom: 0px;}
.app-figure {margin-top: 10px;}
.anh_daidien {width: 100%;text-align: center;}
.MagicZoom img {max-width: 100% !important;position: relative;}
.selectors {margin-top: 10px;}
.selectors .mz-thumb img {max-width: 56px;}
.img_item {width: 100% !important;}
.item_sub_img {margin-right: 5px;}
.des-soluong{margin-bottom: 10px;}
.item_des_detail .qty{display: block;float: none;margin-bottom: 5px;text-align: left;text-transform: uppercase;font-size: 12px;font-weight: bold;font-family: 'RobotoBold';}
.item_des_detail button{outline: none;background-color: #f5f5f5;border: 1px #eaeaea solid;transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;color: #333;font-size: 15px;padding:10px 12px;font-weight: bold;cursor: pointer;float: left;}
.item_des_detail button:nth-of-type(2){padding: 10px 12px}
.item_des_detail button:hover{color: #fff;background: #04a71f;}
.item_des_detail input{padding: 0 5px 1px;height:37px;border: 1px #ddd solid;text-align: center;margin: 0px 5px;width: 80px;color: #333;text-align: center;float: left;}
#hinhcon_mo{margin-top: 10px}
.chayhinhcon{margin: 0px -5px;}
.item_sub_img{padding: 0px 5px}
.product-qty .cart button{padding: 10px 12px;line-height: 1;float: left;margin-left: 5px;}
.product-qty .show{margin-bottom: 5px;}
/*================albumhinhanh======================*/
.item_album{margin-bottom:30px;width: calc(100% / 4);padding:0px 15px;}
.img_album img{width: 100%}
.ten_album{padding:10px 10px;}
.ten_album h3{font-family:'UTMAvo';font-size: 15px;color: #000;text-align: center;}
.tieude_album_detail{font-family:'UTMAvoBold';font-size: 20px;color: #9e9e9e;text-transform: uppercase;}
.item_album_detail{width: calc(100% / 4);padding:0px 15px;margin-bottom: 30px;}
.noidung_album{margin: 20px 0px}
 /*---------tranglienhe--------*/
.thanh_contact{line-height: 1.8;position: relative;margin-bottom: 15px;color:var(--color-r);font-family:'RobotoBold';font-size: 20px;text-transform: uppercase;}
.thanh_contact:after{content: "";position: absolute;left: 0px;bottom: 0px;width: 60px;height: 2px;background: var(--color-r)}
.left_contact{margin-left: 0px;color: #000;}
.right_contact{margin-top: 20px}
.form_contact{float: left;width: 49%;font-family:'RobotoRegular';font-size: 15px;color: #000}
.form_lh{float: right;width: 49%}
.form_lh .left_input{float:left;width: 48.5%;margin-bottom: 10px;}
.form_lh .right_input{float:right;width: 48.5%;margin-bottom: 10px;}
.form_lh input{font-family:'RobotoBold';font-size: 13px;color: #333;float: left;width: 100%;height: 40px;;border: 1px solid #ced4da;outline: none;background: transparent;padding-left: 15px}
.form_lh textarea{font-family:'RobotoBold';font-size: 13px;color: #333;float: left;width: 100%;;border: 1px solid #ced4da;outline: none;background: transparent;resize: none;padding-left: 15px;padding-top: 10px;}
.textarea_noidung{float: left;width: 100%}
.form_lh input:focus, .form_lh textarea:focus { box-shadow: 0 2px var(--color-r); border-bottom: 1px solid var(--color-r); }
.form_lh input:focus::placeholder, .form_lh textarea:focus::placeholder { color: var(--color-r); }
.w_recap,.w_submit{display:inline-block;width: 100%;clear: both;}
.btn_send_lienhe {color: #fff;background: var(--color-r);border:none;float: left;clear: both;padding:8px 30px;font-family:'RobotoBold';font-size: 13px;margin-top: 15px;text-transform: uppercase;}
.w_bando_lh{height: 400px;overflow: hidden;margin-top: 30px}
.w_bando_lh iframe{width:100%;height:400px}
/*========end csstrangtrong======*/
.box_video{width: calc(100% /  4);padding: 0px 15px;;margin-bottom: 30px}
.video_info{font-size: 12px;color:#767676;line-height: 1.3em;}
.video_info .loai_vid a{font-size: 13px;color:#767676;}
.video_info .loai_vid:hover a{color:#167ac6;}
.box_video img{ max-width: 100%;}
.box_video a h3{ text-align: left; margin:5px 0px 0px 0px; width: 100%; float: left; font-size: 14px;color:#035F67;font-weight: bold;overflow: hidden;}
.box_video:hover a h3{color:#d5aa16;}
.box_video:hover{ opacity: 0.8;}
.box_vid{width:70%;float: left;}
.box_vid iframe{height:500px;}
.box_vid h1{font-size: 24px;color:#fff;width:100%;background:rgba(0,0,0,.7);padding:15px 10px;box-sizing:border-box;}
.vid_cmt{width:100%;height:auto; float: left; margin-top: 10px;}
.other_vid{width:28%;float: right;}
.title_other{color:#003466;font-size: 14px;font-weight: bold; border-bottom: 1px solid #ccc;text-transform: uppercase;}
.other_vid .box_video_detail{width:100%;padding:7px;box-sizing:border-box;}
.other_vid .box_video_detail img{width:40%;float: left;height:auto;}
.box_video_detail .vid_info{width:58%;float: right;color:#767676;line-height: 1.3em;font-size: 12px;}
.box_video_detail .vid_info a h3{font-size: 13px;font-weight: 500;color:#08678E;font-weight: bolder;}
.box_video_detail:hover .vid_info a h3{color:#d5aa16;}
.vid_info .loai_vid a{font-size: 13px;color:#767676;}
.vid_info .loai_vid:hover a{color:#167ac6;}
.box_video .luotxem{ font-style: italic; color: #666; font-size: 12px; }
@media(max-width: 800px){.box_vid{width:100%;clear:left;}.other_vid{width:100%;}}
/*===tintuc*/
.box_new{margin-bottom: 15px;width: 50%;padding:0px 15px;}
.border_boxnew{height: 100%;border-bottom: 1px dashed #ddd;padding-bottom: 10px;margin-bottom: 10px}
.img_boxnew{float: left; position: relative; z-index: 2; margin-right: 15px; overflow: hidden; }
.img_boxnew img {float: left;box-sizing: border-box;padding: relative;z-index: 2;display: inline-block;max-width: 200px;border: 1px solid #ccc;}

.dichvu_new {float: left; position: relative; z-index: 2; margin-right: 15px; overflow: hidden; }
.dichvu_new  img {float: left;box-sizing: border-box;padding: relative;
	z-index: 2;display: inline-block;max-width: 200px;border: 1px solid #ccc;
	border-radius: 50%
}




.info_boxnew{overflow: hidden; height: 100%; position: relative; }
.info_boxnew h3{font-family:'RobotoCondensedBold';font-size: 15px;color: #393939;margin-bottom: 5px;}
.info_boxnew h3:hover{color: #ea0000}
.date {color: #636363; font-size: 13px; font-family:'RobotoCondensedRegular'; }
.info_boxnew p{text-align: justify; font-family:RobotoCondensedRegular; font-size: 14px;  width: 100%; 
	overflow: hidden; text-overflow: ellipsis; 
	line-height: 25px; -webkit-line-clamp: 3; 
	height: 75px; display: -webkit-box; -webkit-box-orient: vertical; }
.baiviet_khac {width: calc(100% - 110px); font-family: 'RobotoCondensedBold'; font-size: 14px; line-height: 1.3; }
.xemtintrong{font-family:'RobotoBold';font-size:13px;color: #ea0000}
/*===tintuc*/
/*=====footer========*/
#footer{}
#bottom_ft{} 
.ten_cty{font-family:'UTMAvoBold';font-size:28px;color: #fff;text-transform: uppercase;;margin-bottom: 20px;line-height:1}
.title_ft{margin-bottom: 30px;position: relative;color: #fff;font-size:16px;font-family: 'UTMAvo';text-transform: uppercase;}
.title_ft p{margin-bottom: 0px;}
/*.title_ft:after{content: "";width:42px;height: 3px;background: #fff;position: absolute;left: 0px;bottom: 0px;}*/
.content_ft{padding: 41px 0px 66px 0px;}
.cot1_ft{float: left;width: 39%;margin-right: 14px;color: #fff;line-height: 2.5;}
.cot2_ft{float: left;width: 18%;}
.cot3_ft{float: right;width: 24%;}
.w_bando{height: 200px;overflow: hidden;}
.w_bando iframe{width:100%;height: 100%}
/*---------copyright----*/
#copyright{background: #009bd7;font-size: 13px;color: #8cd2ed;padding: 14px 0px;font-family: 'OpenSansRegular';}
.copy_thongke{float: left;}
.thong_ke_bot{float: right;}
/*=====footer========*/
.lienket_ft {margin-top: 20px;display: flex;align-items: center;}
.lienket_ft p{}
.icon-footer{float: right;padding-left: 15px;}
.lienket_ft a:last-child{margin-right: 0px;}
.lienket_ft a{margin:0px 10px 0px 0px;float: left;}
.lienket_ft img{border: none;transition: 0.5s;-webkit-transition: 0.5s;-moz-transition: 0.5s;-ms-transition: 0.5s;-o-transition: 0.5s;-transition: 0.5s;}
.lienket_ft img:hover{opacity: 0.6;}
.top_head {
    background: #00adef;
    padding: 0px 0px;
    color: #fff;
    position: relative;    font-weight: bold;	
}
.top_l {
    float: left;
    /*width: 45%;*/
    width: 53%;
    text-align: right;
    padding-top: 9px;
}

.top_r {
    float: right;
  /*  width: 51%;
    display: flex;*/
        width: 45%;
    display: flex;
    text-align: right;
}
span.cls_1 {
    padding: 8px 14px 0px 0px;
    /*width: 38%;*/    width: 40%;
}

span.cls_2 {
    padding-top: 9px;
    /*width: 32%;*/
        width: 30%;
}
.doitac{padding: 21px 0px;background: #00a9ee;}
.chaydoitac{margin: 0px -15px}
.item_doitac{padding:0px 15px}
.item_doitac img{border:1px solid #ccc;width: 100%}
.mota_gt{padding: 36px 0px 6px 0px;line-height: 2;}

.text_catchuoi {display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: normal;}
.tintuc_1 a.ten {
-webkit-line-clamp: 2;
}

span.ten_gt {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
     font-family: 'RobotoBlack';
    position: relative;
}

.gioithieuchung {
    text-align: center;
    padding: 50px 0px 32px 0px;
}
span.ten_gt:after {
    position: absolute;
    content: "";
    bottom: -18px;
    left: calc(100%/2 - 87px);
    width: 167px;
    height: 12px;
    background: url(images/icon2_03.png) bottom center no-repeat;
}
.title_kh > p {
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'RobotoBlack';
    position: relative;
    padding: 0px 1px 16px 0px;
}
.title_kh > span {
	
color: #555555;
	
font-size: 15px;
	
font-family: 'OpenSansRegular';
}
.title_kh {
    position: relative;
    text-align: center;
}

.title_kh:after {
    position: absolute;
    content: "";
    bottom: -23px;
    left: calc(100%/2 - 87px);
    width: 167px;
    height: 12px;
    background: url(images/icon2_03.png) bottom center no-repeat;
}
.item_kh {padding: 0px 30px;}
.box_kh {margin: 65px -30px 39px -30px;}
.img img {border-radius: 50%;transition: 0.8s;}
.info_kh {text-align: center;padding: 23px 0px;}
p.cls_motakh {color: #000;font-size: 14.4px;padding-top: 19px;line-height: 1.9;font-family: 'OpenSansItalic';}

a.ten_kh {
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    color: #333333;
    font-family: 'OpenSansBold';
}

p.cls_tenkh {
    color: #000;
    font-size: 15px;
    font-family: 'OpenSansRegular';
    padding: 2px 0px 6px 0px;
}
.thanh_title h3:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: -9px;
    background: url(images/affter_03.png) right center no-repeat;
    width: 31px;
    height: 49px;
}
.item_icon {
    width: calc(100%/4);
    float: left;
    padding: 0px 6px;
}
.item_icon p {
    width: 73%;
    float: right;
    padding: 4px 0px 0px 0px;
    color: #333333;
    font-size: 15px;
    font-family: 'RobotoRegular';
}

.icon_icon {
    padding-bottom: 51px;
}
.box_iconn {
    margin: 0px -6px;
}

.item_icon span {
    display: inherit;
}

.item_spp {
    
    margin-bottom: 31px;
    padding: 0px 15px;
}

.prod_imag {
    /* padding: 15px 11px; */
    border: 1px solid #fff;
    overflow: hidden;
}

.hid_img img {margin-bottom: 14px;}
span.ten_spp {
    color: #222222;
    font-size: 12px;
    font-family: 'OpenSansBold';
    height: 43px;
    overflow: hidden;
    display: block;
    margin-bottom: 9px;
}
p.giasi {
    color: #777777;
    font-size: 12px;
    text-decoration: line-through;
    padding-right: 5px;
}

.div_css1 {
    margin: 0px -16px;
    margin: 0px -15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}
a.bv_ft {
    display: inherit;
    color: #fff;
    line-height: 2;
    font-family: 'OpenSansRegular';
    font-size: 13.4px;
}

.title_ft {
    position: relative;
    color: #fff;
    font-family: 'OpenSansRegular';
    font-size: 15px;
    text-transform: uppercase;
}

.title_ft:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -12px;
    border-bottom: 2px solid #f2f2f2;
    width: 44px;
}

.cot4_ft {
    float: left;
    width: 15%;
}
.title_nhantin{display:block;float: left;font-family: 'OpenSansRegular';color: #fff;font-size: 18px;padding-top: 13px;}
#frm_nhantin input{height:33px;float:left;background:#fff;width: calc(100% - 70px);color: #000;font-size: 15px;outline:none;padding-left: 10px;border:none;font-family: 'OpenSansRegular';}
#frm_nhantin input::-webkit-input-placeholder{font-size: 12px; font-family: 'UTMAvo'; color: #000; }
#frm_nhantin button{height: 40px;width: 189px;cursor:pointer;outline:none;color: #000000;text-transform: uppercase;border: none;background: #fff200;font-family: 'RobotoRegular';font-size: 14px;}
input#hotendk {
    float: left;
    width: 221px;
    height: 41px;
    margin-right: 22px;
    background: #fff url(images/iconnn_03.png) right 7px center no-repeat;
}

input#dienthoaidk {
    float: left;
    width: 221px;
    height: 41px;
    margin-right: 20px;
    background: #fff url(images/iconnn_05.png) right 8px center no-repeat;
}

input#emaildk {
    float: left;
    width: 221px;
    height: 41px;
    margin-right: 20px;
    background: #fff url(images/iconnn_08.jpg) right center no-repeat;
}
/**/
input#hotendk::placeholder {
    font-family: 'OpenSansRegular';
    color: #555555;
}

input#dienthoaidk::placeholder {
    font-family: 'OpenSansRegular';
    color: #555555;
}

input#emaildk::placeholder {
    font-family: 'OpenSansRegular';
    color: #555555;
}

form#frm_nhantin {
    float: right;
}
.dangkymail_ft {
    padding: 45px 0px 0px 0px;
}
.item_dv {float: left;width: calc(100%/4);margin-bottom: 20px;padding: 0px 12px;}
.bor_dv {border: 1px solid #fff;display: flex;padding: 19px 9px 19px 9px;}
.info_dv {width: 78%;padding-left: 17px;color: #fff;}
.box_dichvu { margin: 0px -12px }
.item_dv:nth-child(1) .bor_dv { background: #c9393e }
.item_dv:nth-child(2) .bor_dv { background: #4daf54 }
.item_dv:nth-child(3) .bor_dv { background: #3b78b7 }
.item_dv:nth-child(4) .bor_dv { background: #8846ba }
.ig_dv img {
    border: 1px solid #fff;
    border-radius: 50%;
}
.mota_dv{-webkit-line-clamp: 2;font-family: 'OpenSansRegular';font-size: 13px;line-height: 1.5;}
.ten_dv {-webkit-line-clamp: 1;font-family: 'OpenSansBold';font-size: 15px;text-transform: uppercase;padding-bottom: 5px;}
.ig_dv {
    padding-top: 4px;
}
.dichvu {
    padding: 30px 0px 10px 0px;
}
.ten_dv:hover {color: #c0fddf}
.thanh_title:before {
    position: absolute;
    content: "";
    top: 0;
    background: url(images/title_03.png) right no-repeat;
    width: 34px;
    height: 49px;
    z-index: 9;
    right: 154px;
}
a.them_dt {
    padding: 13px 5px 0px 7px;
    color: #333333;
    font-size: 15px;
    font-family: 'OpenSansRegular';
    /* float: right; */
    width: 14%;
    text-align: right;
}

i.fa.fa-undo {
    padding-right: 5px;
}
/*.hid_img img {
    width: 100%;
}*/

.bor_spppp:hover span.ten_spp { color: #1b6684 }
.item_c111 {
    margin-bottom: 30px;
}

.quangcao {
    margin: 0px -13px;
}

img.c11_sp {
    padding: 0px 12px;
}

img.c12_sp {
    padding: 0px 12px;
}
a.them_dt:hover { color: #428bca; text-decoration: underline; }
.bor_spppp {
    border: 1px solid #fff;
    padding: 0px 4px;
}

.bor_spppp:hover {
    border: 1px solid #1b6684;
}
.item_icon img {
    transition: 0.8s;
}

.item_icon img:hover {
    transform: rotate(180deg);
    transition: 0.5s;
}

.item_icon p:hover {
    color: #8c8b8b;
}
.item_catssp {
    float: left;
    font-size: 17px;
    color: #00adef;
    padding: 0px 12px;
    font-family: 'RobotoBold';
}

.spc2 {
    width: 65%;
    margin-right: 1px;
    line-height: 2.5;
    margin-left: 41px;
}
 
 .spc2_mb {
 	display: none;
    width: 65%;
    margin-right: 1px;
    line-height: 2.5;
    margin-left: 41px;
} 
.chay_spbc .slick-prev{position: absolute;top: 78px;left: -14px;width: 29px;height: 29px;background: url(images/next_03.jpg) no-repeat;}
.chay_spbc .slick-next{transform:rotate(180deg);position: absolute;top: 78px;right: -7px;width: 30px;height: 30px;background: url(images/next_03.jpg);}

.chaydoitac .slick-prev{position: absolute;top: 7px;left: -35px;width: 34px;height: 69px;background: url(images/02_03.png) no-repeat;}
.chaydoitac .slick-next{transform: rotate(-1deg);position: absolute;top: 8px;right: -40px;width: 34px;height: 69px;background: url(images/muiten_03.png) no-repeat;}

div#header {
    position: relative;
}

/*div#header:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 80px;
    height: 1px;
    width: 174px;
    border-bottom: 25px solid #fff;
    border-left: 31px solid transparent;
    border-right: 31px solid transparent;
    
}*/
i.fa.fa-map-marker {
    color: #7dd5f7;
    font-size: 18px;
    margin-right: 7px;
}

i.fa.fa-envelope {color: #7dd5f7;font-size: 15px;margin-right: 4px;}

i.fa.fa-phone {
    color: #7dd5f7;
    margin-right: 6px;
}
a.bv_ft:hover { color: #235596 }
a.ten_kh:hover { color: #3f9db3 }
.img img:hover {
    transform: rotate(89deg);
    transition: 0.5s;
}
.item_spptrong { float: left; width: calc(100%/5) ; padding: 0px 15px }
.logo_mobile { display: none; }

#search{
	position: absolute;
	right: 0;
	top: 2px;
	z-index: 99999987;
	line-height: normal;
}
#search a{
	float:right;
	margin-top: 29px;
	margin-left:10px;
	cursor: pointer;
}
.hien{
	transition:1s;
	width:300px !important;
	opacity:1 !important;
	padding:0 5px !important;
	border:1px !important;
	border-radius: 6px;
	height: 40px;
	background: rgba(0,173,239,0.85);
	outline:0;
	color: #fff;
	margin-top: 20px;
	padding-left: 4px;
}
.an{
	transition:1s;
	width:0px !important;
	opacity:0 !important;
	padding:0 !important;
	border:0px !important;
	height:40px;
}


.khungspbanchay
{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 0px;
}
.chay_spsp .slick-prev,.chay_spsp  .slick-next{
	position: absolute;
	left: 0;    top: -20px;
}
.chay_spsp .slick-prev
{
	left: 15px;
}
.chay_spsp .slick-next{
	left: 40px;
}
/*.fixmenu .logo img {
    width: 58px;
    line-height: 69px;
    margin-top: 23px;
}*/
@media screen and  (max-width:1024px) {
	.item_spptrong { float: left; width: calc(100%/4) ; padding: 0px 15px }
	.title_kh > p { line-height: 1.2 }
	.top_l { width: 100% ; text-align: center; }
	.top_r { width: 100% ; text-align: center; }
	.logo_mobile { display: block; text-align: center; }
	div#header:after { display: none; }
	div#menu { display: none; }
	div#menu_mobi { display: block; }
	.thanh_title:before { display: none; }
	a.them_dt {
    padding: 13px 5px 0px 7px;
    color: #333333;
    font-size: 15px;
    font-family: 'OpenSansRegular';
    /* float: right; */
    width: 22%;
    }
    .thanh_title h3 {
    
    background: no-repeat;
    background: url(images/thanh_03.png) no-repeat;
    display: inline-block;
    line-height: 1;
    padding: 18px 29px 11px 32px;
    text-transform: uppercase;
    font-family: 'RobotoBlack';
    position: relative;
    /* float: left; */
    width: 31%;
}	
.quangcao { display: none; }
 .spc2_mb {
 	display: block;
    text-align: center;
    display: inline-block;
    width: 100%
 }
 .spc2 { display: none;
}
.title_nhantin { display: none; }

}

@media screen and  (max-width:992px) {
	a.them_dt { display: none; }
	.item_icon {
	    width: calc(100%/2);
	    float: left;
	    padding: 0px 6px;
	    margin-bottom: 20px;
	}
	.item_dv {
	    float: left;
	    width: calc(100%/2);
	    margin-bottom: 20px;
	    padding: 0px 12px;
	}
}
@media screen and  (max-width:918px) {
	.cot1_ft { float: left; margin-bottom: 35px ; width: 100% }
	.cot2_ft { float: left; margin-bottom: 35px  ; width: 45%}
	.cot3_ft { float: left; margin-bottom: 35px ; width: 100% }
	.cot4_ft { float: right; margin-bottom: 35px ; width: 45% }
	input#hotendk { float: left; width: 70%; margin-bottom: 15px }
	input#dienthoaidk { float: left; width: 70%; margin-bottom: 15px }
	input#emaildk { float: left; width: 70%; margin-bottom: 15px }
	#frm_nhantin button {
	    height: 40px;
	    width: 30%;
	    cursor: pointer;
	    outline: none;
	    color: #000000;
	    text-transform: uppercase;
	    border: none;
	    background: #fff200;
	    font-family: 'RobotoRegular';
	    font-size: 14px;
	}
}
@media screen and  (max-width:768px) {
	.item_spptrong { float: left; width: calc(100%/3) ; padding: 0px 15px }
	.thanh_title h3 { width: 42% }
}
@media screen and  (max-width:725px) {}
@media screen and  (max-width:680px) {
	.item_spptrong { float: left; width: calc(100%/2) ; padding: 0px 15px }
}
@media screen and  (max-width:600px) {
	.thanh_title h3 { font-size: 15px }
	.copy_thongke { float: none; width: 100%; text-align: center; }
	.thong_ke_bot { float: none;width: 100% ; text-align: center; }
	.top_r { display: none; }
}
@media screen and  (max-width:520px) {
	.thanh_title h3 { font-size: 13px }
	.item_icon { float: left; width: 100% }
	.item_icon p { width: 84% }
	.ten_item .giaban { font-size: 13.5 }
	p.giasi { font-size: 14px }
	span.ten_spp { font-size: 13px }
}
@media screen and  (max-width:480px) {
	.mota_dv { font-size: 11px }
	.ten_dv { font-size: 12px }
	.thanh_title h3 { width: 54% }
	.item_catssp { font-size: 15px }
	.ten_item .giaban { font-size: 12.2px }
	p.giasi { font-size: 13px }
	.thanh_title h3 {width: 59%}
}		
@media screen and  (max-width:382px) {
	.item_icon p { width: 79% }
	span.ten_gt { font-size: 27px }
	.ig_dv { text-align: center; }
	.ig_dv img { text-align: center; }
	.bor_dv { display: block; }
	.info_dv { width: 100% }
	.title_kh > p { font-size: 26px }
}
@media screen and  (max-width:375px) { 

}