html, body, .wrapper {height: 100%; }
html, body {padding: 0; margin: 0; }
body {font: 1rem / 1.516 'Montserrat', Arial, sans-serif; }
.wrapper {position: relative; background: url(../images/photo-1435777940218-be0b632d06db.jfif) no-repeat center center/cover; }
.wrapper:before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(33, 33, 33, 0.25); }
header, .content, footer {position: absolute; }
header, footer {width: 100%; }
header {top: 0; text-align: center; }
.content h1 { margin-top: 0; font-size:60px; } 
h1{font-family: 'Petit Formal Script', cursive;}
p,.countdown{font-family: 'Titillium Web', sans-serif;font-size: 22px;}
.content { top: 50%; left: 50%; text-align: center; color: #fff; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.content form { margin: auto; display: table; }
.content input { float: left; font-size: 16px; border: 1px solid #fff; }
.content input[type=email] { padding: 12px; background: #fff; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.content input[type=submit] { padding: 12px 24px; color: #fff; background: transparent; border-top-right-radius: 4px; border-bottom-right-radius: 4px; cursor: pointer; transition: all .235s ease-in-out; }
.contentinput[type=submit]:hover { color: #212121; background: #fff; }
.countdown {margin: auto; display: table; font-size: 28px; font-weight: 500; }
.countdown > div {float: left; min-width: 80px; font-size: 40px; }
.countdown span {position: relative; display: block; font-size: 16px; text-align: center; }
.countdown span:before {content: ''; position: absolute; top: -2px; right: 0; left: 0; margin-right: auto; margin-left: auto; width: 20px; height: 1px; background: #fff; }
.footer__links {text-align: center; list-style-type: none; }
.footer__links li {display: inline-block; }
.footer__links li:nth-of-type(n+2) {margin-left: 12px; }
.footer__links a {padding: 8px 0; display: block; width: 41px; text-align: center; color: #fff; border: 1px solid; border-radius: 50%; transition: opacity .235s ease-in-out; }
.footer__links a:hover {opacity: .5; }
.footer__links .fa {vertical-align: middle; font-size: 21px; }