@import "reset.css";
@import "../../css/font-awesome/css/font-awesome.min.css";
@import "fullcalendar.css";
@import "datatable.css";
@import "ui_custom.css";
@import "prettyPhoto.css";
@import "elfinder.css";
@import "jquery-ui-1.8.24.custom.css";

.hidden {
	display:none;	
}
.soluong_input{ padding:5px;}
.form_or{ width: 140px !important; float: left; margin:0px 0px 0px 5px; }
.giohang_ser select{ width: 140px; float: left; margin: 0px 0px 0px 5px; color: #666; padding: 5px; border: 1px solid #DDD;}
.switcher {
	position: fixed;
	right: 0;
	top: 100px;
	background: url(../images/switcher/bg.png) no-repeat;
	width: 14px;
	height: 206px;
	z-index: 10000;
	padding: 6px 5px 0 5px;
}
.switcher a img {
	margin-bottom: 6px;
}
.color{ padding: 10px 10px 10px 40px !important; box-sizing:border-box;}
.main_select{ padding: 5px; border: 1px solid #ccc; max-width: 150px;}



.delete_tags{
	background: #E4BC24;
    display: inline-block;
    padding: 0px 5px;
    line-height: 25px;
    color: #fff;
    padding-right: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-right:5px;
    position: relative;
}
.delete_tags:before{
	    content: '';
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0px;
    left: -10px;
    border-top: 13px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 10px solid #E4BC24;
}
.delete_tags:after{
	    content: '';
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 13px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 10px solid #f9f9f9;
}
.delete_tags span{ content: ''; width: 12px; height: 12px; float: left; background: url(../images/disabled.png) no-repeat; background-size: 12px 12px; margin: 5px 5px 0px 0px; cursor: pointer;opacity: 0.6 }
.delete_tags:hover span{ opacity: 1 }


/* #Basic Styles
================================================== */
.note_img{ float:left; margin:5px 0px 0px 10px; color:#666}
/* Wrappers */
.ck_editor{ width: 100%; float: left;}
html {
	height: 100%;
	background: transparent url(../images/backgrounds/bg.jpg);
}
.html {
	height: 100%;
}
body {
	min-height: 100%;
	font-size: 12px;
	color: #595959;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	position: relative;
}
.formRow .note{ float: left; color: #999; padding:4px 0px 0px 10px; font-size: 11px;}
body {
	background: url(../images/backgrounds/bodyBg.png) repeat-y 0 0;
}
.item_trich{ width: 140px; float: left; margin: 10px 10px 10px 0px; position: relative;}
.file_input{ cursor: pointer;}
.delete_images{ position: absolute; z-index: 10; top: 0px; right: 0px;}
.timkiem{ padding: 5px 0px 0px 0px}
.timkiem input{ padding: 5px; width: 200px}
.chonngonngu li{ display: inline-block;}
.chonngonngu li img{ float: left; margin: 10px 10px 0px 10px;}
.chonngonngu li a{ height: 37px; line-height: 37px; float: left; padding: 0px 10px 0px 5px;}
.chonngonngu li a:hover,.chonngonngu li a.active{ background: #f9f9f9;}
.lang_hidden{ display: none;}
.lang_hidden.active{ display: block;}
.xemthongke{ position: absolute; z-index: 10; top: 10px; right: 18px;}
ul.pagination {
    text-align:center;
    color:#829994;
}
ul.pagination li {
    display:inline;
    padding:0 3px;
}
ul.pagination a {
    color:#0d7963;
    display:inline-block;
    padding:5px 10px;
    border:1px solid #cde0dc;
    text-decoration:none;
}
ul.pagination a:hover, 
ul.pagination a.current {
    background:#0d7963;
    color:#fff; 
}

.wrapper {
	position: relative;
	margin: 0 3%;
}
.contentWrapper {
	position: relative;
	margin: 0 3%;
	float: right;
	width: 94%;
}
.chart, .bars, .updating, .pie {
	/*height: 250px;*/
	z-index: 90;
	max-width: 100%;
}
.chartWrapper {
	overflow: hidden;
}
/* Text */

h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}
.redBack, .greenBack, .greyBack, .blueBack {
	padding: 4px 6px;
	-webkit-border-radius : 2px;
	-moz-border-radius: 2px;
	color: #fafafa;
}
.redBack {
	background: #b75d5d;
}
.greenBack {
	background: #7ab75d;
}
.greyBack {
	background: #6a6a6a;
}
.blueBack {
	background: #5d92b7;
}
p {
	padding-top: 12px;
}
.textL {
	text-align: left;
}
.textR {
	text-align: right;
}
.textC {
	text-align: center;
}
.red {
	color: #A73939;
}
.green {
	color: #599414;
}
.lGrey {
	color: #808080;
}
.blue {
	color: #4286ad;
}
.orange {
	color: #c75510;
}
.f11 {
	font-size: 11px;
}
/* Dividers */

.line {
	height: 8px;
	background: url(../images/divider.png) repeat-x;
	display: block;
}
.cLine {
	height: 4px;
	background: url(../images/contentDivider.png) repeat-x;
}
.sidebarSep {
	background: url(../images/sidebarSep.png) no-repeat 50%;
	height: 8px;
	width: 100%;
	margin: 16px 0;
}
/* Content */

.legendLabel span {
	display: block;
	margin: 0 5px;
}
.legendColorBox {
	padding-left: 10px;
}
.clear {
	clear: both;
}
.last {
	border-bottom: none!important;
}
.floatR {
	float: right;
}
.floatL {
	float: left;
}
.nobg {
	background: none!important;
}
.nomargin {
	margin: 0;
}
.nomarginL {
	margin-left: 0!important;
}
.nomarginR {
	margin-right: 0!important;
}
.np {
	padding: 0!important;
}
.sideMargin {
	margin: 0 12px;
}
#leftSide {
	background: url(../images/backgrounds/leftTop.png) repeat-x 0 0;
	margin: 0 2px;
	float: left;
	width: 216px;
	padding: 0 1px;
	padding-bottom: 60px;
}
#rightSide {
	padding-bottom: 62px;
	overflow: hidden;
}
.scroll {
	height: 182px;
	overflow: auto;
}
.dn, .resp {
	display: none;
}
select[multiple] {
	border: 1px solid #ddd;
	box-shadow: 0 0 0 2px #f4f4f4;
	-webkit-box-shadow: 0 0 0 2px #f4f4f4;
	-moz-box-shadow: 0 0 0 2px #f4f4f4;
	color: #656565;
	background: white;
}
select[multiple] option {
	padding:4px;
}
/* Placeholder colors */

::-webkit-input-placeholder {
color: #b3b3b3;
}
:-moz-placeholder {
color: #b3b3b3;
}
#load_muakem p{ position:relative;}
#load_muakem p img{ position: absolute; z-index: 10; top: 5px; right:-20px;}
/* ==========  Login page  ========== */

.loginPage .userNav {
	margin-right: 0!important;
}
.loginPage .topNav {
	text-align: center;
	position: static;
}
.loginPage .userNav, .loginPage .userNav ul {
	float: none;
	border: none;
}
.loginPage .userNav ul li {
	display: inline-block;
	float: none;
	margin-left: -4px;
}
.loginPage input[type=text], .loginPage input[type=password] {
	width: 100%!important
}
.loginPage #footer .wrapper {
	padding-left: 0;
}
.loginPage .formRow {
	padding: 15px 14px;
}
.loginWrapper {
	margin: -119px 0 0 -170px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.loginWrapper .widget {
	width: 340px;
	background: #f9f9f9;
	border: 1px solid #cdcdcd;
	display: block;
	/*height: 236px;*/
	margin-top:0;
}
.loginLogo {
	position: absolute;
	width: 236px;
	height: 60px;
	display: block;
	top: -55px;
	left: 50%;
	margin-left: -118px;
	text-align:center;
}
.loginControl {
	border-top: 1px solid #fff;
	padding: 10px;
}
.logMeIn {
	float: right;
	padding: 7px 20px 8px 20px!important;
}
.loginInput {
	width: 190px;
	float: right;
	margin-right: 14px!important;
}
.rememberMe {
	float: left;
	margin-top: 6px;
}
.rememberMe label {
	width: auto;
	display: block;
	white-space: nowrap;
	margin: -2px 14px 0 14px;
	float: left;
	cursor: pointer;
}
.backTo {
	border-left: 1px solid #39454f;
	border-right: 1px solid #39454f;
	float: left;
}
.backTo .inner {
	border-left: 1px solid #1c262b;
	border-right: 1px solid #1c262b;
	float: left;
}
.backTo a:hover {
	background: #293138;
	border-left: 1px solid #293138;
	border-right: 1px solid #293138;
}
.backTo span {
	padding: 4px 15px 4px 8px;
	display: block;
	float: left;
}
.backTo img {
	margin: 9px 2px 0px 14px;
	float: left;
	display: block;
}
.backTo a {
	float: left;
	color: #eeeeee;
	font-size: 11px;
	border-left: 1px solid #39454f;
	border-right: 1px solid #39454f;
}
/* ==========  Error and offline pages  ========== */

.errorWrapper {
	position: absolute;
	top: 70px;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	height: 430px;
}
.errorWrapper .button {
	margin-bottom: 30px;
}
.sadEmo {
	background: url(../images/sadEmo.png) no-repeat;
	display: block;
	height: 62px;
	margin: 0 auto 0px auto;
	width: 62px;
}
.errorWrapper .errorTitle {
	display: block;
	text-shadow: 1px 0 0 #fff;
	text-align: center;
	font-size: 20px;
	border-bottom: 1px solid #cdcdcd;
	padding: 20px 14px;
	font-weight: bold;
	color: #d76a6a;
	font-style: italic;
}
.errorWrapper .errorNum {
	color: #fff;
	font-size: 200px;
	text-stroke: 1px transparent;
	padding: 120px 0 80px 0;
	display: block;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.errorDesc {
	display: block;
	margin: 40px 0 25px 0;
	font-weight: bold;
	font-size: 14px;
}
/* ==========  Numeric data designs  ========== */

.numberTop, .numberMiddle, .numberRight, .groupNum {
	text-align: center;
	background: url(../images/backgrounds/numberBg.png) repeat-x;
	display: inline-block;
	padding: 1px 5px;
	color: #fff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	float: right;
	margin: 10px 15px 10px -5px;
	font-size: 11px;
	line-height: 14px;
	width: auto;
	height: auto!important;
}
.numberTop {
	margin: 6px 12px 6px -5px;
	padding: 1px 5px!important;
}
.numberMiddle {
	margin: 0;
	position: absolute;
	top: -8px;
	right: -1px;
	font-size: 11px;
}
.numberRight {
	margin: 1px 3px;
	background: #1B232A;
	border: 1px solid #333c45;
	padding: 2px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	color: #d5d5d5;
}
.groupNum {
	display: block;
	float: none;
	position: absolute;
	top: -9px;
	right: 0;
	margin: 0;
	box-shadow: 0 0 0 1px #262f36;
	-webkit-box-shadow: 0 0 0 1px #262f36;
	-moz-box-shadow: 0 0 0 1px #262f36;
}
/* Top navigation
================================================== */

.topNav {
	background: url(../images/backgrounds/topnavBg.png) repeat-x;
	display: block;
	color: #eeeeee;
	margin: 0 0 0 -2px;
	padding: 3px 0;
	width: 100%;
	z-index: 999;
}
.userNav {
	border-left: 1px solid #39454f;
	border-right: 1px solid #39454f;
	margin-right: -2px;
}
.menu-bar {
    cursor: pointer;
    display: none;
}
.welcome {
	float: left;
}
.welcome {
    float: left;
    font-size: 13px;
}
.welcome img {
	float: left;
	margin: 6px 8px 6px 0
}
.welcome span {
	padding: 4px 5px;
	display: block;
	white-space: nowrap;
	float: left;
	font-size: 11px;
}
.userNav {
	float: right;
	z-index: 6000;
	position: relative;
	font-size: 11px;
}
.userNav ul {
	border-left: 1px solid #39454f;
	border-right: 1px solid #39454f;
	margin-right: -1px;
}
.userNav ul li {
	display: inline;
	float: left;
	position: relative;
	cursor: pointer;
	border-left: 1px solid #1c262b;
	border-right: 1px solid #1c262b;
	margin-left: -1px;
}
.userNav ul li a {
	color: #eeeeee;
	text-decoration: none;
	display: block;
	float: left;
	border-left: 1px solid #39454f;
	border-right: 1px solid #39454f;
}
.userNav ul li a:hover {
	border-left: 1px solid #293138;
	border-right: 1px solid #293138;
	background-color: #293138;
}
.userNav ul li span {
	display: block;
	padding: 4px 15px 4px 8px;
	float: left;
	white-space:nowrap;
}
.userNav ul li img {
	float: left;
	display: block;
	margin: 9px 2px 0px 14px;
}
ul.userDropdown, ul.userMessage {
	position: absolute;
	left: -9px;
	display: none;
	top: 35px;
	background: url(../images/subArrow.png) no-repeat 50% 0;
	padding: 0 1px 1px 1px;
	z-index: 100;
	border: none;
}
ul.userDropdown li, ul.userMessage li {
	display: block;
	float: none;
	border-bottom: 1px solid #1c252b;
	border-top: 1px solid #404950;
	background: url(../images/backgrounds/navBg.jpg);
}
ul.userDropdown li:hover, ul.userMessage li:hover {
	border-top: 1px solid #374047;
}
ul.userDropdown li:first-child, ul.userMessage li:first-child {
	margin-top: 6px;
	border-top: none;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-topleft: 2px;
}
ul.userDropdown li:last-child, ul.userMessage li:last-child {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
}
ul.userDropdown li a, ul.userMessage li a {
	width: 100px;
	padding: 6px 10px 7px 32px;
	font-size: 11px;
	text-transform: none;
	font-weight: normal;
	float: none;
	border: none;
}
ul.userDropdown li a:hover, ul.userMessage li a:hover {
	border-right: none;
	border-left: none;
}
.sAdd {
	background: url(../images/icons/topnav/subAdd.png) no-repeat 11px;
}
.sInbox {
	background: url(../images/icons/topnav/subInbox.png) no-repeat 11px;
}
.sOutbox {
	background: url(../images/icons/topnav/subOutbox.png) no-repeat 11px;
}
.sTrash {
	background: url(../images/icons/topnav/subTrash.png) no-repeat 11px;
}
.sExport {
	background: url(../images/icons/topnav/export-icon.png) no-repeat 8px 11px;
}
/* Left navigation
================================================== */

/* === Left navigation widgets === */
.nav li.video_li a span {
	background-image: url(../images/video-icon.png);
}
.nav li.product_li a span {
	background-image: url(../images/product-icon.png);
}
.nav li.album_li a span {
	background-image: url(../images/album-icon.png);
}
.nav li.dash a span {
	background-image: url(../images/icons/light/home.png);
}
.nav li.charts span {
	background-image: url(../images/icons/light/stats.png);
}
.nav li.categories_li a span {
	background-image: url(../images/ui-menu-icon.png);
}
.nav li.article_li a span {
	background-image: url(../images/article-icon.png);
}
.nav li.setting_li a span {
	background-image: url(../images/setting-icon.png);
}
.nav li.gallery_li a span {
	background-image: url(../images/gallery-icon.png);
}
.nav li.marketing_li a span {
	background-image: url(../images/social-media-chat-icon.png);
}
.nav li.cart_li a span {
	background-image: url(../images/cart-icon.png);
}
.nav li.template_li a span {
	background-image: url(../images/template-icon.png);
}
.nav li.member_li a span {
	background-image: url(../images/member-icon.png);
}
.nav li.typo span {
	background-image: url(../images/icons/light/create.png);
}
.nav li.tables a span {
	background-image: url(../images/icons/light/frames.png);
}
.nav li.errors a span {
	background-image: url(../images/icons/light/alert.png);
}
.nav li.files a span {
	background-image: url(../images/icons/light/files.png);
}
.nav li.ui a span {
	background-image: url(../images/icons/light/user.png);
}
.nav li.widgets a span {
	background-image: url(../images/icons/light/fullscreen.png);
}
.nav li a span {
	background-position: 12px 13px;
	background-repeat: no-repeat;
}
/* === Left navigation classes === */

.logo {
	border-top: 1px solid #3b4751;
	margin: 3px 1px 0 1px;
	padding: 20px 15px;
	text-align:center;
}
.nav {
	border-top: 1px solid #1c252b;
}
.nav li {
	position: relative;
}
.nav li a {
	display: block;
	background: url(../images/backgrounds/navItemBg.png) repeat-x 0 0;
	border-bottom: 1px solid #1c252b;
	border-top: 1px solid #404950;
}
.nav li a:hover {
	background-position: 0 -43px;
	border-top: 1px solid #516271;
}
.nav li a.active, .nav li a:active {
	background-position: 0 -86px;
	border-top: 1px solid #657d92;
}
.nav li a span {
	padding: 10px 0 12px 42px;
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #efefef;
}
.nav li a strong {
	background: #1b232a;
	display: block;
	position: absolute;
	right: 10px;
	padding: 0 7px;
	top: 12px;
	box-shadow: 0 1px 1px #38444f;
	-webkit-box-shadow: 0 1px 1px #38444f;
	-moz-box-shadow: 0 1px 1px #38444f;
	font-size: 11px;
	color: #efefef;
}
.nav li a.active strong, .nav li a:active strong {
	background: #212a31;
	box-shadow: 0 1px 1px #557188;
	-webkit-box-shadow: 0 1px 1px #557188;
	-moz-box-shadow: 0 1px 1px #557188;
}
.nav .last {
	border-bottom: none;
}
ul.sub {
	border-bottom: 1px solid #1a2126;
	border-top: none;
	background: url(../images/backgrounds/subNavBg.jpg);
}
ul.sub li {
	border-bottom: 1px solid #1c252a;
	border-top: 1px solid #30373d;
}
ul.sub li.this {
	background: url(../images/backgrounds/subNavBg_active.jpg);
	border-bottom: 1px solid #192226;
	border-top: 1px solid #192226;
}
ul.sub li.this:first-child {
	border-top: 1px solid #30373D;
}
ul.sub li.this a {
	color: #d5d5d5;
}
ul.sub li a {
	background: url(../images/arrow.gif) no-repeat 12px 16px;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #494949;
	font-size: 11px;
	padding: 8px 10px 8px 26px;
	color: #9da1a5;
}
ul.sub li a:hover {
	font-style: normal;
	border: none;
	color: #d5d5d5;
	background: url(../images/arrow.gif) no-repeat 12px 16px;
}
ul.sub li ul {
	border: none;
	border-top: 1px solid #c9c9c9;
}
ul.sub li ul li {
	padding-left: 10px;
}
/* ===== Responsive dropdown ===== */

.smalldd {
	display: block;
	position: relative;
	background: url(../images/backgrounds/respNavBg.png) repeat-x;
}
.smalldd ul {
	position: absolute;
	z-index: 999;
	display: none;
	width: 100%;
	top: 38px;
}
.smalldd ul li {
	background: url(../images/backgrounds/navBg.jpg);
	border-top: 1px solid #444b52;
	border-bottom: 1px solid #1c252a;
	position: relative;
}
.smalldd ul li a {
	padding: 8px 6%;
	display: block;
	color: #CECECE;
	font-size: 11px;
}
.smalldd ul li a img {
	padding-top: 3px;
	display: block;
	float: left;
	margin-right: 16px;
}
.smalldd ul li a:hover {
	background: #2a333b;
}
.smalldd ul li:hover { /*border-top: 1px solid #323940*/
}
.smalldd ul li a span {
	padding: 10px 0 12px 42px;
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: #efefef;
}
.smalldd ul li a strong {
	background: #1b232a;
	display: block;
	position: absolute;
	right: 10px;
	padding: 0 7px;
	top: 8px;
	box-shadow: 0 1px 1px #38444f;
	-webkit-box-shadow: 0 1px 1px #38444f;
	-moz-box-shadow: 0 1px 1px #38444f;
	font-size: 11px;
	color: #efefef;
}
.smalldd ul li > ul li {
	background: url(../images/backgrounds/subNavBg.jpg);
	border-bottom: 1px solid #1a2227;
	border-top: 1px solid #303a43;
}
.smalldd ul li > ul li:first-child {
	border-top-color: #303a43;
}
.smalldd ul li > ul li:hover {
	background: #222a30;
}
.smalldd ul li > ul li:hover a {
	color: #fff;
}
.smalldd ul li > .active {
	border-bottom: 1px solid #1C252A
}
.smalldd ul li ul {
	display: block;
	position: static;
}
.smalldd ul li ul li a, .smalldd ul li ul li a:hover {
	padding-left: 50px;
	font-size: 11px;
	background: url(../images/arrow.gif) no-repeat 32px 16px
}
.smalldd > .inactive, .smalldd > .active, .smalldd > .inactive:hover, .smalldd > .active:hover {
	background: url(../images/backgrounds/arrows.png) 100% 12px no-repeat;
}
/* === Sidebar widgets === */

/* Profile */

.sideProfile {
	padding: 0 12px;
	font-size: 11px;
	color: #CECECE;
	position: relative;
}
.sideProfile span {
	display: block;
}
.sideProfile span a {
	color: white;
	font-weight: bold;
}
.sideProfile ul {
	display: none;
	border-left: 1px solid #1c252a;
	border-right: 1px solid #1c252a;
	border-top: 1px solid #1c252a;
	position: absolute;
	top: 76px;
	z-index: 980;
	width: 190px;
}
.sideProfile ul li {
	background: #2f363c;
	border-top: 1px solid #444b52;
	border-bottom: 1px solid #1c252a;
}
.sideProfile ul li:first-child {
	border-top: none;
}
.sideProfile ul li a {
	padding: 8px 10px;
	display: block;
	color: #CECECE;
}
.sideProfile ul li a img {
	padding-top: 5px;
	display: block;
	float: left;
	margin-right: 14px;
}
.sideProfile ul li a:hover {
	background: #2c323a;
}
.profileFace {
	float: left;
	margin: 0 10px 10px 0;
}
.goUser {
	display: block;
	background: url(../images/backgrounds/sideDropdown.png) no-repeat 0 0;
	width: 172px;
	height: 21px;
	padding: 5px 10px;
	cursor: pointer;
}
.goUser:hover {
	background-position: 0 -32px;
}
.goUser:active {
	background-position: 0 -64px;
}
/* 3 buttons */

.iconsGroup {
	margin: 20px 14px 0 14px;
	border: 1px solid #262f36;
	box-shadow: 0 0 0 1px #394248;
	-webkit-box-shadow: 0 0 0 1px #394248;
	-moz-box-shadow: 0 0 0 1px #394248;
}
.iconsGroup ul li {
	background: url(../images/backgrounds/iconsGroup.png) repeat-x 0 0;
	float: left;
	position: relative;
	display: block;
	border-left: 1px solid #262f36;
}
.iconsGroup ul li a.dUsers {
	background: url(../images/icons/dUsers.png) no-repeat 50%;
}
.iconsGroup ul li a.dMessages {
	background: url(../images/icons/dMessages.png) no-repeat 50% 10px;
}
.iconsGroup ul li a.dMoney {
	background: url(../images/icons/dMoney.png) no-repeat 50%;
	padding: 21px 31px 20px 31px;
}
.iconsGroup ul li:first-child {
	border-left: none;
}
.iconsGroup ul li a {
	display: block;
	padding: 21px 30px 20px 31px;
}
.iconsGroup ul li:hover {
	background-position: 0 -42px;
}
.iconsGroup ul li:active {
	background-position: 0 -84px;
}
/* General balance */

.genBalance {
	height: 68px;
	border-top: 1px solid #252d31;
	border-bottom: 1px solid #242d33;
	background: #252d31;
}
.genBalance a {
	background: url(../images/backgrounds/genBalance.png) repeat-x;
	display: block;
	border-top: 1px solid #4a535c;
	color: #e0e0e0;
	border-bottom: 1px solid #3c444c;
}
.genBalance a span {
	font-size: 11px;
	display: block;
	margin-bottom: 6px;
}
.genBalance a span.balanceAmount {
	font-size: 22px;
	font-weight: bold;
	margin: 0;
}
.genBalance .amount {
	width: 124px;
	float: left;
	margin-right: 1px;
	border-right: 1px solid #3b4751;
	padding: 10px 14px;
	border-left: 1px solid #3b4751;
}
.genBalance .amChanges {
	width: 39px;
	float: left;
	border-left: 1px solid #3b4751;
	border-right: 1px solid #3b4751;
	padding: 9px 10px;
}
.sNegative, .sPositive, .sZero {
	padding: 26px 0 2px 0;
	text-align: center;
	display: block;
	font-size: 14px;
}
.sNegative {
	color: #e77575;
}
.sPositive {
	color: #90c254;
	background: url(../images/backgrounds/sidebarPositiveArrow.png) no-repeat 14px 10px;
}
.sZero {
}
/* Next update */

.nextUpdate {
	margin-top: 12px;
}
.nextUpdate ul li {
	color: #cecece;
	font-size: 11px;
	display: inline-block;
	width: 78px;
	padding: 0 14px;
	text-align: right;
}
.nextUpdate ul li:first-child {
	text-align: left;
}
/* Numbers statistics */

.numStats ul li {
	float: left;
	text-align: center;
	width: 46px;
	padding: 0 12px;
	color: #f8f8f8;
	font-size: 18px;
	border-right: 1px solid #283037;
	border-left: 1px solid #37414a;
}
.numStats ul li span {
	display: block;
	color: #717e88;
	font-size: 11px;
}
.numStats ul li.last {
	border-right: none;
}
/* Sidebar buttons */

.sButton {
	background: url(../images/backgrounds/sidebarButtons.png) repeat-x;
	width: 185px;
	margin: 0 auto;
	display: block;
	border: 1px solid #222a30;
	text-align: center;
	height: 34px;
	line-height: 34px;
}
.sButton span {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fefefe;
	display: inline-block;
}
.sButton img {
	float: left;
	padding: 12px 15px 12px 14px;
	background: url(../images/backgrounds/sidebarButtonSep.png) repeat-y 100% 0;
}
.sBlue {
	background-position: 0 0;
}
.sBlue:hover {
	background-position: 0 -35px;
}
.sBlue:active {
	background-position: 0 -70px;
}
.sRed {
	background-position: 0 -107px;
}
.sRed:hover {
	background-position: 0 -142px;
}
.sRed:active {
	background-position: 0 -177px;
}
.sGreen {
	background-position: 0 -214px;
}
.sGreen:hover {
	background-position: 0 -249px;
}
.sGreen:active {
	background-position: 0 -284px;
}
/* Round statistics */

.sRoundStats {
	width: 185px;
	margin: 0 auto;
}
.sRoundStats ul li {
	float: left;
	margin-left: 5px;
	text-align: center;
	color: white;
	font-size: 11px;
}
.sRoundStats ul li:first-child {
	margin-left: 0;
}
.sRoundStats ul li a {
	background: url(../images/backgrounds/roundStats.png) no-repeat 0 0;
	display: block;
	width: 58px;
	height: 58px;
	margin-top: 6px;
}
.sRoundStats ul li a:hover {
	background-position: 0 -60px;
}
.sRoundStats ul li a:active {
	background-position: 0 -120px;
}
.sRoundStats ul li a span {
	font-size: 12px;
	padding: 28px 2px 2px 2px;
	font-weight: bold;
	display: block;
}
.sRoundStats ul li a span.roundZero {
	color: #e2e2e2;
	background: url(../images/sidebarZero.png) no-repeat 50% 15px;
}
.sRoundStats ul li a span.roundPos {
	color: #a6e062;
	background: url(../images/sidebarPos.png) no-repeat 50% 15px;
}
.sRoundStats ul li a span.roundNeg {
	color: #e48383;
	background: url(../images/sidebarNeg.png) no-repeat 50% 15px;
}
/* Common styles
================================================== */

.fixed {
	box-shadow: inset 0 0 1px #748a9b;
	-moz-box-shadow: inset 0 0 1px #748a9b;
	-webkit-box-shadow: inset 0 0 1px #748a9b;
}
.middleNav, .widget, .sItem, .statsDetailed, .statsContent, .nav li a strong, .controlB ul li, .toggle, .smalldd ul li a strong {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.widget, .middleNav, .sItem, .statsDetailed {
	box-shadow: 0 1px 0 #fff;
	-moz-box-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 0 #fff;
}
.wButton, .nNote, .widget .num a, .tag, a.sButton, .tooltip, .tPagination ul li a, .bc, .pages li a, .smallButton, .search-choice, .horControlB ul li, .gallery ul li, .iconsGroup, .logMeIn, .wContentButton {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
.contentProgress, .invoicesBar, .barG, .barO, .barB {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
.widget .title:first-child, ul.tabs, .toggle .title:first-child {
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
}
.sItem > h2 a, .mUser a, .searchWidget input[type=text] {
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
}
.sItem > span, .mOrders a {
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
}
.cleditorMain, table tfoot td, .totalAmount, table tr:last-child {
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
}
.partners li:hover, .newUpdate:hover, .wUserInfo:hover {
	background: #fdfdfd;
}
/* Content
================================================== */


/* === Title area with middle navigation === */

.titleArea {
	padding-top: 36px;
}
.pageTitle {
	float: left;
	padding: 35px 0 32px 0;
}
.middleNav {
	float: right;
	border: 1px solid #cdcdcd;
	margin: 29px 0;
}
.middleNav ul {
}
.middleNav ul li {
	display: block;
	float: left;
	border-left: 1px solid #cdcdcd;
	position: relative;
}
.middleNav ul li:first-child {
	border-left: none;
}
.middleNav ul li a {
	width: 60px;
	height: 45px;
	display: block;
	border: 1px solid #fbfbfb;
	cursor: pointer;
	background: #e9e9e9 url(../images/backgrounds/middleNavBg.png) repeat-x;
}
.middleNav ul li a:hover {
	background: #f3f3f3;
}
.middleNav ul li a:active {
	background: #efefef;
}
.middleNav ul li a span {
	display: block;
	height: 45px;
}
.middleNav ul li a span.files {
	background: url(../images/icons/middlenav/files.png) no-repeat 18px;
}
.middleNav ul li a span.users {
	background: url(../images/icons/middlenav/users.png) no-repeat 11px;
}
.middleNav ul li a span.messages {
	background: url(../images/icons/middlenav/messages.png) no-repeat 14px;
}
.middleNav ul li a span.orders {
	background: url(../images/icons/middlenav/orders.png) no-repeat 16px;
}
.middleNav ul li ul {
	position: absolute;
	top: 50px;
	right: -1px;
	width: 156px;
	z-index: 996;
	border: none;
	background: url(../images/subArrow.png) no-repeat 82% 0;
	display: none;
}
.middleNav ul li ul li {
	display: block;
	float: none;
	border-bottom: 1px solid #1c252b;
	border-top: 1px solid #404950;
	border-left: none;
	background: url(../images/backgrounds/navBg.jpg);
}
.middleNav ul li ul li:hover {
	border-top: 1px solid #374047;
}
.middleNav ul li ul li:first-child {
	margin-top: 6px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-topleft: 2px;
}
.middleNav ul li ul li:last-child {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
}
.middleNav ul li ul li a {
	background: url(../images/subIcon.png) no-repeat 12px 15px;
	width: auto;
	border: none;
	color: #d1d1d1;
	height: auto;
	padding: 7px 3px 8px 25px;
	font-size: 11px;
}
.middleNav ul li ul li a:hover {
	background: #293138 url(../images/subIcon.png) no-repeat 12px 15px;
}
/* Statistic row
================================================== */

/* ===== Statistics ===== */

.statsRow {
	background: url(../images/backgrounds/titleRowBg.png);
}
.statsItems {
	padding: 20px 0 14px 0;
	overflow: visible;
	text-align: center;
}
.sItem {
width: /*15%*/;
	margin: 0 1%;
	display: inline-block;
	border: 1px solid #d5d5d5;
	position: relative;
	background: #eee url(../images/backgrounds/stats.png) repeat-x;
}
.sItem:first-child {
}
.sItem > span {
	display: block;
	color: #626262;
}
.sItem > h2 {
	float: left;
}
.sItem > h2 a {
	display: block;
	color: #626262;
	background: #eee url(../images/backgrounds/stats.png) repeat-x;
	cursor: pointer;
}
.sItem > h2 a:hover {
	background-position: 0 -62px;
}
.sItem > h2 a:active {
	background-position: 0 -124px;
}
.value {
	text-align: center;
	padding: 12px 20px 5px 20px;
	font-weight: bold;
}
.value span {
	display: block;
	margin-top: 2px;
	font-size: 12px;
}
.changes {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding: 14px 18px 5px 18px;
	float: left;
	border-left: 1px solid #d5d5d5;
}
.changes .negative {
	background: url(../images/negArrow.png) no-repeat 0px 5px;
	padding-left: 22px;
	color: #db6464;
	margin-top: 4px;
	display: block;
}
.changes .positive {
	background: url(../images/posArrow.png) no-repeat 0px 6px;
	padding-left: 22px;
	color: #6daa24;
	margin-top: 4px;
	display: block;
}
.changes .zero {
	background: url(../images/zero.png) no-repeat 4px 6px;
	padding-left: 20px;
	color: #4e8fc6;
	margin-top: 4px;
	display: block;
}
/* Stats dropdowns */

.statsContent {
	border: 2px solid #b0b0b0;
	margin-top: 6px;
	background: #f3f3f3;
}
.statsDetailed .subArrow {
}
.sElements {
	background: url(../images/backgrounds/statsElementsBg.png) repeat-x;
	text-align: center;
}
.statsDetailed {
	position: absolute;
	left: 50%;
	top: 75px;
	width: 222px;
	z-index: 998;
	background: url(../images/subArrowStats.png) no-repeat 50% 0;
	display: none;
	margin-left: -110px;
}
.statsDetailed .statsDropBtn {
	text-align: center;
	padding: 12px 0 12px 0;
}
.statsDetailed .statsDropBtn a {
	display: inline-block;
}
.statsDetailed .sDisplay {
	background: url(../images/backgrounds/darkGreyCircle.png) no-repeat;
	width: 57px;
	height: 65px;
	display: inline-block;
	margin: 15px 5px 25px 5px;
	text-align: center;
}
.statsDetailed .sDisplay h4 {
	padding: 18px 0 30px 0;
	display: block;
	color: #fefefe;
}
.statsDetailed .sDisplay span {
	font-size: 11px;
}
.statsUpdate {
	margin: 8px 12px 2px 12px;
}
.statsUpdate span {
	width: 95px;
	display: inline-block;
	text-align: right;
}
.statsUpdate span:first-child {
	text-align: left;
}
.statsUpdate .contentProgress {
	margin-top: 5px;
}
/* ===== Control buttons ===== */

.controlB {
	text-align: center;
	padding: 11px 0 22px 0;
}
.controlB ul li {
	display: inline-block;
	margin: 11px 5px 0 5px;
	background: url(../images/backgrounds/controlB.png) repeat-x;
	border: 1px solid #d5d5d5;
	text-align: center;
	box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	-moz-box-shadow: inset 0 0 0 1px #fff;
}
.controlB ul li:hover {
	background-position: 0 -72px;
}
.controlB ul li:active {
	background-position: 0 -144px;
}
.controlB ul li a {
	padding: 10px 20px 4px 20px;
	display: block;
	font-weight: bold;
	white-space: nowrap;
	color: #626262;
}
.controlB ul li a span {
	display: block;
	margin-top: 5px;
}
/* ===== Horizontal control buttons ===== */

.horControlB {
	text-align: center;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.horControlB ul li {
	display: inline-block;
	background: url(../images/backgrounds/horControlB.png) repeat-x;
	border: 1px solid #d5d5d5;
	text-align: center;
	box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	float: left;
	margin-right: 5px;
}
.horControlB ul li:hover {
	background-position: 0 -43px;
}
.horControlB ul li:active {
	background-position: 0 -86px;
}
.horControlB ul li a {
	display: block;
	font-weight: bold;
	white-space: nowrap;
	color: #626262;
}
.horControlB ul li img {
	float: left;
	margin: 12px 12px 10px 12px;
}
.horControlB ul li a span {
	display: block;
	margin: 0px 0 0 40px;
	padding: 10px 16px 8px 16px;
	border-left: 1px solid #d5d5d5;
}
/* Gallery
================================================== */

.gallery {
	margin: auto;
	padding: 4px 0.5% 12px 0.5%;
	text-align: center;
}
.gallery ul li {
	display: inline-block;
	height: 102px;
	margin: 12px 6px 0 6px;
	border: 1px solid #cdcdcd;
	position: relative;
}
.gallery ul li:hover {
	border-color: #ddd;
}
.gallery .actions {
	background: #000;
	opacity: 0.8;
	position: absolute;
	top: -1px;
	right: -1px;
	display: none;
	padding: 1px 2px;
}
.gallery .actions a {
	color: #fff;
	font-size: 11px;
	display: block;
	padding: 4px 5px 3px 0;
	float: left;
}
.gallery .actions a img {
	margin-left: 5px;
}
.gallery .actions a:first-child {
	padding-right: 0;
}
/* Buttons
================================================== */

.button, button, input[type=submit], input[type=reset], input[type=button] {
	font-size: 10px;
	font-weight: bold;
	background-image: url(../images/ui/usualButtons.png);
	background-repeat: repeat-x;
	text-transform: uppercase;
	white-space: nowrap;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 12px;
	display: inline-block;
	max-height: 29px;
}
.button,input[type=submit], input[type=reset], input[type=button], button {
	padding: 7px 18px 5px 18px;
	display: inline-block;
}
.formSubmit {
	display: block;
	float: right;
	margin: 14px 18px;
}
.button span {
	padding: 7px 18px 8px 18px;
	display: inline-block;
	height: 12px;
}
.button .icon {
	float: left;
	margin: 7px -8px 5px 12px;
}
.smallButton {
	border: 1px solid #cdcdcd;
	background: url(../images/backgrounds/titleBg.png) repeat-x 0 0;
	padding: 5px 5px;
	display: inline-block;
}
.smallButton:hover {
	background: #f6f6f6;
}
.smallButton:active {
	background: #f2f2f2;
}
.basic {
	background-position: 0 0;
	border: 1px solid #c7c7c7;
	color: #595959;
}
.basic:hover {
	background-position: 0 -28px;
}
.basic:active {
	background-position: 0 -56px;
}
.blueB {
	background-position: 0 -85px;
	border: 1px solid #3672a0;
	color: #fff;
}
.blueB:hover {
	background-position: 0 -113px;
}
.blueB:active {
	background-position: 0 -141px;
}
.redB {
	background-position: 0 -170px;
	border: 1px solid #9f352b;
	color: #fff;
}
.redB:hover {
	background-position: 0 -198px;
}
.redB:active {
	background-position: 0 -226px;
}
.greyishB {
	background-position: 0 -255px;
	border: 1px solid #576270;
	color: #fff;
}
.greyishB:hover {
	background-position: 0 -283px;
}
.greyishB:active {
	background-position: 0 -311px;
}
.brownB {
	background-position: 0 -340px;
	border: 1px solid #99682b;
	color: #fff;
}
.brownB:hover {
	background-position: 0 -368px;
}
.brownB:active {
	background-position: 0 -396px;
}
.greenB {
	background-position: 0 -425px;
	border: 1px solid #7ca82a;
	color: #fff;
}
.greenB:hover {
	background-position: 0 -453px;
}
.greenB:active {
	background-position: 0 -481px;
}
.dredB {
	background-position: 0 -510px;
	border: 1px solid #893f3f;
	color: #fff;
}
.dredB:hover {
	background-position: 0 -538px;
}
.dredB:active {
	background-position: 0 -566px;
}
.violetB {
	background-position: 0 -595px;
	border: 1px solid #7e6095;
	color: #fff;
}
.violetB:hover {
	background-position: 0 -623px;
}
.violetB:active {
	background-position: 0 -651px;
}
.dblueB {
	background-position: 0 -680px;
	border: 1px solid #2e6691;
	color: #fff;
}
.dblueB:hover {
	background-position: 0 -708px;
}
.dblueB:active {
	background-position: 0 -736px;
}
.blackB {
	background-position: 0 -765px;
	border: 1px solid #2f2f2f;
	color: #fff;
}
.blackB:hover {
	background-position: 0 -793px;
}
.blackB:active {
	background-position: 0 -821px;
}
/* === Widget buttons === */

.wButton, .wContentButton {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FEFEFE;
	height: 33px;
	text-align: center;
	display: inline-block;
	line-height: 33px;
	background: url(../images/ui/widgetButtons.png) repeat-x;
}
.wContentButton {
	display: block;
	margin-top: 32px;
}
.wButton span {
	padding: 0 20px;
	display: inline-block;
}
.orangewB {
	background-position: 0 0;
	border: 1px solid #8e4626;
}
.orangewB:hover {
	background-position: 0 -36px;
}
.orangewB:active {
	background-position: 0 -72px;
}
.redwB {
	background-position: 0 -109px;
	border: 1px solid #803939;
}
.redwB:hover {
	background-position: 0 -145px;
}
.redwB:active {
	background-position: 0 -181px;
}
.bluewB {
	background-position: 0 -218px;
	border: 1px solid #3573A8;
}
.bluewB:hover {
	background-position: 0 -254px;
}
.bluewB:active {
	background-position: 0 -290px;
}
.greenwB {
	background-position: 0 -327px;
	border: 1px solid #6d8737;
}
.greenwB:hover {
	background-position: 0 -363px;
}
.greenwB:active {
	background-position: 0 -399px;
}
.purplewB {
	background-position: 0 -436px;
	border: 1px solid #873862;
}
.purplewB:hover {
	background-position: 0 -472px;
}
.purplewB:active {
	background-position: 0 -508px;
}
/* === List styles === */

.list li {
	padding: 0 0 0 15px;
}
.list > strong {
	display: block;
	font-weight: bold;
	padding-bottom: 4px;
}
.arrowB li {
	background: url(../images/icons/lists/arrowB.png) no-repeat 0 7px;
}
.arrowG li {
	background: url(../images/icons/lists/arrowG.png) no-repeat 0 7px;
}
.arrowlG li {
	background: url(../images/icons/lists/arrowlG.png) no-repeat 0 7px;
}
.arrowR li {
	background: url(../images/icons/lists/arrowR.png) no-repeat 0 7px;
}
.tipB li {
	background: url(../images/icons/lists/tipB.png) no-repeat 0 7px;
}
.tipG li {
	background: url(../images/icons/lists/tipG.png) no-repeat 0;
}
.tiplG li {
	background: url(../images/icons/lists/tiplG.png) no-repeat 0;
}
.tipR li {
	background: url(../images/icons/lists/tipR.png) no-repeat 0;
}
.plusB li {
	background: url(../images/icons/lists/plusB.png) no-repeat 0 5px;
}
.plusG li {
	background: url(../images/icons/lists/plusG.png) no-repeat 0 5px;
}
.pluslG li {
	background: url(../images/icons/lists/pluslG.png) no-repeat 0 5px;
}
.plusR li {
	background: url(../images/icons/lists/plusR.png) no-repeat 0 5px;
}
.roundtipB li {
	background: url(../images/icons/lists/roundtipB.png) no-repeat 0 5px;
}
.roundtipG li {
	background: url(../images/icons/lists/roundtipG.png) no-repeat 0 5px;
}
.roundtiplG li {
	background: url(../images/icons/lists/roundtiplG.png) no-repeat 0 5px;
}
.roundtipR li {
	background: url(../images/icons/lists/roundtipR.png) no-repeat 0 5px;
}
/* Content widgets
================================================== */


/* Widgets grid */

.widgets {
}
.oneTwo {
	width: 49%;
	display: inline;
	float: right;
}
.oneTwo:first-child {
	float: left;
}
.oneThree {
	width: 32%;
	display: inline;
	float: left;
	margin-left: 2%;
}
.oneThree:first-child {
	margin-left: 0;
	float: left;
}
.twoOne {
	width: 66%;
	float: right;
	margin-left: 2%;
}
.twoOne:first-child {
	margin-left: 0;
	float: left;
}
.oneFour {
	width: 23%;
	float: left;
	margin-left: 2.7%;
}
.oneFour:first-child {
	margin-left: 0;
}
/* Left & Right lists inside widgets */

.leftList {
	float: left;
	max-width: 50%;
}
.rightList {
	float: right;
	max-width: 50%;
}
.rightList li {
	text-align: right;
}
/* Top widget icons styles */

.topIcons {
	float: right;
	margin: 12px 12px 12px 0;
}
.topIcons a {
	margin-left: 5px;
}
.topIcons a:first-child {
	margin: 0;
}
/* General widgets styles */

.widget {
	background: #f9f9f9;
	border: 1px solid #cdcdcd;
	margin-top: 32px;
	clear: both;
}
.widget .title {
	height: 36px;
	background: #efefef url(../images/backgrounds/titleBg.png) repeat-x;
	border-bottom: 1px solid #cdcdcd;
}
.widget .title .titleIcon {
	float: left;
	padding: 11px 11px;
	border-right: 1px solid #D5D5D5;
}
.toggle {
	background: #f9f9f9;
	border: 1px solid #cdcdcd;
	margin-top: 32px;
	clear: both;
	border-bottom: none;
}
.toggle .title {
	height: 36px;
	background: #efefef url(../images/backgrounds/titleBg.png) repeat-x;
	border-bottom: 1px solid #cdcdcd;
	cursor: pointer;
}
.toggle .title h6 {
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 9px 12px 8px 12px;
	display: block;
}
.toggle .titleIcon {
	float: left;
	padding: 11px 11px;
	border-right: 1px solid #D5D5D5;
}
.toggle .body, .toggle .menu_body {
	padding: 12px 14px;
	border-bottom: 1px solid #cdcdcd;
}
.toggle .inactive {
	color: #2B6893;
}
.widget .loader {
	float: right;
	margin: 12px 12px 0 0;
}
.widget .title h6 {
	float: left;
	white-space:nowrap;
	font-size: 12px;
	font-weight: bold;
	padding: 9px 12px 8px 12px;
}
.widget .content {
	padding: 14px;
}
.widget .body {
	padding: 12px 14px;
}
.widget > p {
	padding: 12px;
}
/* Sidebar search widget */

.sidebarSearch {
	position: relative;
}
.sidebarSearch input[type=text] {
	background: url(../images/backgrounds/sidebarSearch.png) repeat-x;
	color: #A2A2A2;
	padding: 6px 10px 7px 10px;
	width: 196px;
	height: 16px;
	border: none;
	border-top: 1px solid #333D46;
	border-radius: 0;
	border-bottom: 1px solid #39434c;
}
.sidebarSearch input[type=submit] {
	width: 23px;
	height: 23px;
	background: url(../images/sidebarSearchBtn.png) no-repeat;
	position: absolute;
	top: 4px;
	right: -7px;
	border: none;
}
.sidebarSearch input[type=submit]:hover {
	background-position: 0 -24px;
}
.sidebarSearch input[type=submit]:active {
	background-position: 0 -48px;
}
/* User info widget */

.wUserInfo {
	padding: 12px 12px 9px 12px;
}
.wUserInfo a {
	display: block;
}
.wUserPic {
	float: left;
	margin: 0 10px 0 0;
}
/* Invoice stats widget */

.wInvoice {
}
.wInvoice > ul li {
	width: 32%;
	display: inline-block;
	text-align: center;
	border-left: 1px dotted #d5d5d5;
	margin-top: 14px;
	padding-top: 2px;
}
.wInvoice > ul li:first-child {
	border-left: none;
}
.wInvoice > ul li span {
	font-size: 11px;
}
.invButtons {
	margin-top: 10px;
	text-align: center;
}
.invButtons .bFirst {
	float: left;
}
.invButtons .bLast {
	float: right;
}
ul.ruler {
	width: 100%;
	margin-bottom: 8px;
}
ul.ruler li {
	display: block;
	float: left;
	color: #757575;
	font-size: 10px;
	width: 33%;
}
ul.ruler li:last-child {
	width: 34%;
}
/* Tabs */

ul.tabs {
	background: url(../images/backgrounds/titleBg.png) repeat-x;
	height: 36px;
	border-bottom: 1px solid #CDCDCD;
}
ul.tabs li {
	float: left;
	height: 36px;
	line-height: 38px;
	border-left: none;
	overflow: hidden;
	position: relative;
	font-size: 15px;
	border-right: 1px solid #cdcdcd;
}
ul.tabs li a {
	display: block;
	padding: 0px 12px;
	outline: none;
	color: #424242;
	font-size: 12px;
	font-weight: bold;
}
ul.tabs li a:hover {
	color: #797979;
}
html ul.tabs li.activeTab {
	background-color: #f9f9f9;
	height: 37px;
}
.rightTabs .activeTab {
	height: 36px!important;
}
html ul.tabs li.activeTab a {
	color: #2E6B9B;
}
.tab_container {
	overflow: hidden;
	width: 100%;
}
.tab_content {
	padding: 10px 12px;
}
.rightTabs {
	position: relative;
}
.rightTabs ul.tabs {
	float: right;
	background: none;
	height: 38px;
	position: absolute;
	top: 0;
	right: 0;
	border-bottom: none;
}
.rightTabs ul.tabs li {
	border-left: 1px solid #cdcdcd;
	border-right: none;
}
/* Search widget */

.searchWidget {
	position: relative;
	margin-top: 32px;
}
.searchWidget input[type=text] {
	border: 1px solid #d5d5d5;
	padding: 10px!important;
	width: 93%!important;
	height: 14px;
}
.searchWidget input[type=submit] {
	background: url(../images/searchBtn.png) no-repeat 0 0;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	width: 36px;
	height: 36px;
	max-height: 100%;
}
/* Task table widget */

.taskWidget td.taskD, .taskWidget td.taskP, .taskWidget td.taskPr {
	text-align: left;
	padding-left: 32px;
	background-position: 12px 14px;
	background-repeat: no-repeat;
}
.taskWidget td.taskD {
	background-image: url(../images/icons/taskDone.png);
}
.taskWidget td.taskP {
	background-image: url(../images/icons/taskPending.png);
}
.taskWidget td.taskPr {
	background-image: url(../images/icons/taskProgress.png);
}
.taskWidget a {
	color: #595959;
}
.taskWidget td {
	text-align: center;
}
.actBtns {
	text-align: center;
}
.actBtns img {
	margin: 0 3px;
}
/* Accordion */

.menu_body {
	display: none;
	padding: 12px 14px;
}
.acc .head {
	margin-bottom: -1px;
	cursor: pointer;
}
.acc .head h6 {
	padding: 9px 14px;
}
/* Website statistics widget */

.webStatsLink {
	color: #2e6b9b;
	font-size: 16px;
	font-weight: bold;
}
.statsPlus, .statsMinus {
	padding-left: 20px;
}
.statsPlus {
	background: url(../images/icons/grown.png) no-repeat 0 2px;
	color: #599414;
}
.statsMinus {
	background: url(../images/icons/dropped.png) no-repeat 0 2px;
	color: #a73939;
}
/* Content statistics widget */

.contentStats {
}
.contentStats li {
	padding: 8px 12px;
	border-top: 1px solid #d5d5d5;
}
.contentStats li:first-child {
	border-top: none;
}
.contentStats li:hover {
	background-color: #fafafa;
}
.contentStats h5 {
	display: block;
	float: left;
	margin-right: 6px;
	padding-left: 32px;
	padding-top: 1px;
}
.contentStats .nComments {
	background: url(../images/icons/dialog.html) no-repeat 0;
}
.contentStats .nSubscribers {
	background: url(../images/icons/sub.html) no-repeat 0 2px;
}
.contentStats .nFollowers {
	background: url(../images/icons/dark/twitter.png) no-repeat 0;
}
.contentStats .nAffiliates {
	background: url(../images/icons/plusS.html) no-repeat 0 2px;
}
.contentStats .nUploads {
	background: url(../images/icons/add.png) no-repeat 0 2px;
}
/* New order widget */

.userRow {
	padding: 12px 12px 7px 12px;
}
.orderRow, .totalAmount {
	padding: 7px 12px;
}
.userRow ul {
	padding-left: 12px;
	margin-top: -1px;
}
.orderRow ul li {
	padding-top: 2px;
}
.orderRow ul li:first-child {
	padding-top: 0;
}
.totalAmount {
	background: #efefef url(../images/backgrounds/titleBg.png) repeat-x;
	padding: 8px 12px;
}
.orderIcons {
	margin-top: 4px;
}
.orderIcons span {
	background: url(../images/icons/orderStatus.png) no-repeat;
	display: block;
	float: right;
	margin-left: 8px;
}
.orderIcons .oPaid, .orderIcons .oUnpaid {
	width: 7px;
	height: 12px;
}
.orderIcons .oPaid {
	background-position: 0 0;
}
.orderIcons .oUnpaid {
	background-position: 0 -13px;
}
.orderIcons .oShipped, .orderIcons .oUnshipped {
	width: 21px;
	height: 12px;
}
.orderIcons .oShipped {
	background-position: 0 -26px;
}
.orderIcons .oUnshipped {
	background-position: 0 -39px;
}
.orderIcons .oFinished, .orderIcons .oUnfinished {
	width: 12px;
	height: 12px;
}
.orderIcons .oFinished {
	background-position: 0 -52px;
}
.orderIcons .oUnfinished {
	background-position: 0 -65px;
}
/* Partners list widget */

.partners {
}
.partners img {
	margin-right: 12px;
}
.partners li {
	border-top: 1px solid #cdcdcd;
	padding: 12px 12px 8px 12px;
}
.partners li:first-child {
	border-top: none;
}
.pInfo {
	float: left;
}
.pLinks {
	float: right;
	width: 12px;
	margin-right: 10px;
}
.pInfo i {
	display: block;
}
.pLinks a {
	margin-top: 10px;
	display: block;
}
.pLinks a:first-child {
	margin-top: 3px;
}
. 
/* New updates widget */

.updates {
padding-left: 0px;
}
.updates .uDate {
	float: right;
	width: 30px;
	text-align: center;
	color: #bbbbbb;
	margin: 4px -2px 0 0;
}
.updates .uDate .uDay {
	font-size: 20px;
	font-weight: bold;
	display: block;
	margin-bottom: -4px;
}
.uDone, .uAlert, .uNotice {
	float: left;
	display: block;
	padding-left: 22px;
	max-width: 76%;
}
.uDone {
	background: url(../images/icons/updateDone.png) no-repeat 0 4px;
}
.uAlert {
	background: url(../images/icons/updateWarning.png) no-repeat 0 4px;
}
.uNotice {
	background: url(../images/icons/updateNotice.png) no-repeat 0 4px;
}
.newUpdate {
	border-top: 1px solid #d5d5d5;
	padding: 10px 12px;
}
.newUpdate:first-child {
	border-top: none;
}
.newUpdate span {
	display: block;
}
/* === Numeric data === */

.widget .num {
	float: right;
	display: inline-block;
	text-align: center;
	margin: 8px 8px 0 0;
	font-size: 11px;
}
.widget .num span {
	margin-right: 10px;
}
.widget .num a {
	background: url(../images/ui/numDataBg.png) repeat-x;
	height: 19px;
	padding: 2px 5px;
	color: #fefefe;
}
.widget .num a.blueNum {
	background-position: 0 -114px;
	border: 1px solid #4b8bc4;
}
.widget .num a.blueNum:hover {
	background-position: 0 -133px;
}
.widget .num a.blueNum:active {
	background-position: 0 -152px;
}
.widget .num a.redNum {
	background-position: 0 -171px;
	border: 1px solid #c83e3e;
}
.widget .num a.redNum:hover {
	background-position: 0 -190px;
}
.widget .num a.redNum:active {
	background-position: 0 -209px;
}
.widget .num a.greenNum {
	background-position: 0 0;
	border: 1px solid #84b550;
}
.widget .num a.greenNum:hover {
	background-position: 0 -19px;
}
.widget .num a.greenNum:active {
	background-position: 0 -38px;
}
.widget .num a.greyishNum {
	background-position: 0 -57px;
	border: 1px solid #587787;
}
.widget .num a.greyishNum:hover {
	background-position: 0 -76px;
}
.widget .num a.greyishNum:active {
	background-position: 0 -95px;
}
.widget .num a.greyNum {
	background-position: 0 -228px;
	border: 1px solid #585858;
}
.widget .num a.greyNum:hover {
	background-position: 0 -247px;
}
.widget .num a.greyNum:active {
	background-position: 0 -266px;
}
/* ===== Notification messages ===== */

.nNote {
	cursor: pointer;
	clear:both;
	margin: 10px 0px 10px 0px;
	box-shadow: inset 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 1px #fff;
	-moz-box-shadow: inset 0 0 1px #fff;
}
.nNote strong {
	margin-right: 5px;
}
.nNote p {
	font-size: 11px;
	padding: 10px 25px 10px 54px;
	margin: 0px;
	color: #565656;
}
.nMessage p {
	font-size: 11px;
}
.nWarning {
	background: #ffe9ad url(../images/icons/notifications/error.png) no-repeat 15px center;
	border: 1px solid #eac572;
	color: #826200;
}
.nSuccess {
	background: #effeb9 url(../images/icons/notifications/accept.png) no-repeat 15px center;
	border: 1px solid #c1d779;
	color: #3C5A01;
}
.nFailure {
	background: #fccac1 url(../images/icons/notifications/exclamation.png) no-repeat 15px center;
	border: 1px solid #e18b7c;
	color: #AC260F;
}
.nInformation {
	background: #deeefa url(../images/icons/notifications/information.png) no-repeat 15px center;
	border: 1px solid #afd3f2;
	color: #235685;
}
.nLightbulb {
	background: #FEF0CB url(../images/icons/notifications/lightbulb.html) no-repeat 15px center;
	border: 1px solid #D3A350;
	color: #835F21;
}
.nMessages {
	background: #9DDFFF url(../images/icons/notifications/email.html) no-repeat 15px center;
	border: 1px solid #42B4FF;
	color: #835F21;
}
/* Progress bars
================================================== */


/* ===== Sidebar progress bars ===== */

.pWrapper {
	padding: 3px;
	width: 183px;
	height: 2px;
	background: url(../images/ui/progress_container.png);
	margin: 12px;
}
.progressG {
	height: 2px;
	width: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #90c255;
}
.progressO {
	height: 2px;
	width: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #e27924;
}
.progressB {
	height: 2px;
	width: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #5ca8e5;
}
.progressR {
	height: 2px;
	width: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #dc595c;
}
/* ===== Content progress bars ===== */

.contentProgress {
	height: 6px;
	background: #dedede;
	border: 1px solid #cacaca;
}
.invoicesBar {
	height: 6px;
	width: 0;
	margin: -1px 0 0 -1px;
	background: url(../images/ui/greenMediumBar.png) repeat-x;
	border: 1px solid #a1b965;
}
.barG {
	height: 6px;
	width: 0;
	margin: -1px 0 0 -1px;
	background: url(../images/ui/greenMediumBar.png) repeat-x;
	border: 1px solid #a1b965;
}
.barO {
	height: 6px;
	width: 0;
	margin: -1px 0 0 -1px;
	background: url(../images/ui/orangeMediumBar.png) repeat-x;
	border: 1px solid #ee9255;
}
.barB {
	height: 6px;
	width: 0;
	margin: -1px 0 0 -1px;
	background: url(../images/ui/blueMediumBar.png) repeat-x;
	border: 1px solid #70a9d4;
}
/* Tables
================================================== */

/* ===== Static table ===== */

.sTable thead td {
	text-align: center;
}
.sTable thead td {
	border-bottom: 1px solid #cbcbcb;
	border-left: 1px solid #cbcbcb;
	background: #EFEFEF url(../images/backgrounds/titleBg.png) repeat-x;
	color: #878787;
	font-size: 11px;
	color: #878787;
	font-weight: normal;
	padding: 3px 8px 2px 8px;
}
table thead td.sortCol > div {
	cursor: pointer;
	position: relative;
}
table thead td span {
	background: url(../images/icons/sort.png) no-repeat 0;
	display: block;
	position: absolute;
	right: 3px;
	top: 2px;
	width: 16px;
	height: 16px;
}
table thead td.headerSortUp span {
	background: url(../images/icons/sortUp.png) no-repeat 0;
}
table thead td.headerSortDown span {
	background: url(../images/icons/sortDown.png) no-repeat 0;
}
.sTable thead td a {
	color: #878787;
}
.sTable thead td:first-child {
	border-left: none;
}
.mTable tfoot tr {
	height: 50px;
	background: #efefef url(../images/backgrounds/titleBg.png) repeat-x;
	border-top: 1px solid #ddd;
}
.fileInfo {
	font-size: 11px;
	text-align: center;
}
.fileInfo span {
	display: block;
}
.itemActions {
	float: left;
	margin: 12px;
}
.itemActions label {
	float: left;
	margin: 4px 12px 0 4px;
	font-size: 11px;
}
.itemActions .selector, .itemActions .selector span {
	width: 120px;
}
.itemActions .selector select {
	width: 130px;
}
.sTable .checker {
	margin: 0 auto;
	float: none;
}
.sTable tbody tr {
	border-top: 1px solid #e4e4e4;
}
.sTable tbody tr:nth-child(even) {
	background-color: #f6f6f6;
}
.sTable tbody td {
	border-left: 1px solid #e4e4e4;
	padding: 6px 12px;
	vertical-align: middle;
}
.sTable tbody td:first-child {
	border-left: none;
}
.sTable tbody tr:first-child {
	border-top: none;
}
.withCheck tbody tr td:first-child, .withCheck tbody tr th:first-child {
	padding: 11px;
}
.withCheck thead tr td:first-child {
	vertical-align: middle;
	width: 37px!important;
	padding: 0;
}
/* Pagination
================================================== */

/* ===== Table pagination ===== */

.tPagination {
	float: right;
	display: block;
	text-align: center;
	margin: 16px 12px 0 5px;
}
.tPagination ul li {
	display: inline-block;
}
.tPagination ul li a {
	color: #595959;
	background: #fefefe url(../images/backgrounds/tPagination.png) repeat-x;
	padding: 3px 7px;
	border: 1px solid #ddd;
	font-size: 11px;
}
.tPagination ul li.prev a {
	background: url(../images/icons/prev.png) no-repeat 0;
	border: none;
}
.tPagination ul li.next a {
	background: url(../images/icons/next.png) no-repeat 100%;
	border: none;
}
/* ========== Content pagination ========== */

.pagination {
	margin: auto;
	width: auto;
	text-align: center;
	margin-top: 10px;
}
.pages {
}
.pages li.prev {
	margin-right: 15px;
}
.pages li.next {
	margin-left: 15px;
}
.pages li {
	display: inline-block;
	margin: 5px 2px;
}
.pages li a {
	height: 25px;
	padding: 4px 8px;
	text-decoration: none;
	color: #666666;
	font-weight: bold;
	background: url(../images/backgrounds/pagingBg.png) repeat-x 0 0;
	border: 1px solid #d5d5d5;
	font-size: 11px;
}
.pages li a:hover {
	background: #f6f6f6;
}
.pages li .active {
	background: url(../images/backgrounds/sideGradient.png) repeat-x;
	color: #fff;
	border-color: #424852;
}
.pages li .active:hover {
	background: #2a313d;
}
/* Form styles
================================================== */

/* ===== General form styles ===== */

.formRow {
	padding: 10px 14px;
	clear: both;
	border-bottom: 1px solid #E2E2E2;
	border-top: 1px solid white;
	position: relative;
}
.formRow:first-child {
	border-top: none;
}
.formRow:last-child {
	border-bottom: none;
}
.ui-formwizard .formRow:last-child {
	border-bottom: 1px solid #E2E2E2;
}
.wizButtons {
	border-top: 1px solid #fff;
}
.formRow .inputImg {
	position: absolute;
	top: 29px;
	right: 25px;
}
.formRow .labelImg {
	float: left;
	margin: 2px 10px 0 0;
}
.formRow > label {
	padding: 4px 0;
	display: block;
	float: left;
	font-weight: bold;
	white-space:nowrap;
}
.formRight label {
	float: left;
	margin-right: 24px;
	padding: 2px 0;
	cursor: pointer;
}
.formNote {
	display: block;
	text-align: left;
	font-size: 11px;
	padding-top: 5px;
	color: #939393;
}
.req {
	float: right;
	margin-left: 5px;
	display: block;
	color: #DB6464;
}
.disabled {
	color: #c0c0c0;
}
.sliderSpecs > label {
	font-size: 11px;
	margin-right: 10px;
}
.sliderSpecs > input {
	border: none;
	background: none;
	width: 30%;
	padding: 5px;
	color: #595959;
}
.formRow .checker, .formRow .radio {
	margin-right: 12px;
	margin-top: 4px;
}
.formRow .formRight {
	display: block;
	float: right;
	width: 85%;
	margin-right: 18px;
}
.form input[type=text], .form input[type=password], .form textarea {
	font-size: 12px;
	padding: 7px 6px;
	background: white;
	border: 1px solid #DDD;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0 0 0 2px #f4f4f4;
	-webkit-box-shadow: 0 0 0 2px #f4f4f4;
	-moz-box-shadow: 0 0 0 2px #f4f4f4;
	color: #656565;
}
.form input[type=text]:hover, .form input[type=password]:hover, .form textarea:hover {
	border-color: #d5d9dc;
	background: #fdfdfd;
}
.form input[type=text]:focus, .form input[type=password]:focus, .form textarea:focus {
	border-color: #d5d9dc;
	background: #fff;
	-webkit-box-shadow: 0 0 0 2px #f4f4f4;
	box-shadow: 0 0 0 2px #f4f4f4;
	-moz-box-shadow: 0 0 0 2px #f4f4f4;
}
input[readonly], input[disabled] {
	background: #FCFCFC;
	border: 1px solid #DADADA;
	color: #D1D1D1;
}
.multiple {
	width: 100%;
	padding: 5px;
}
/* ===== Limit box  ===== */

.limBox {
	font-size: 11px;
	padding: 10px 0;
	display: block;
}
.limiterBox {
	border: 1px solid #ddd;
	border-top: none;
	background: #efefef url(../images/backgrounds/titleBg.png) repeat-x;
	padding: 4px 6px;
	font-size: 11px;
	margin-top: 1px;
}
/* ===== Tags input  ===== */

div.tagsinput {
	border: 1px solid #ddd;
	box-shadow: 0 0 0 2px #f4f4f4;
	-webkit-box-shadow: 0 0 0 2px #f4f4f4;
	-moz-box-shadow: 0 0 0 2px #f4f4f4;
	background: #FFF;
	padding: 5px;
	width: 100%;
	overflow-y: auto;
}
div.tagsinput span.tag {
	border: 1px solid #a5d24a;
	display: block;
	float: left;
	padding: 3px 8px 2px 8px;
	background: #cde69c;
	color: #638421;
	margin: 5px 5px 5px 5px;
}
div.tagsinput span.tag a {
	font-weight: bold;
	color: #82ad2b;
	font-size: 11px;
	float: right;
	margin-top: -1px;
}
div.tagsinput input {
	width: 80px;
	border: none;
	padding: 5px;
	background: transparent;
	margin: 5px 5px 0 0;
}
div.tagsinput div {
	display: block;
	float: left;
}
.tags_clear {
	clear: both;
	width: 100%;
	height: 0px;
}
.not_valid {
	background: #FBD8DB !important;
	color: #90111A !important;
}
/* ===== Timepicker  ===== */

.timepicker {
	width: 46px!important;
}
.timeEntry_control {
	vertical-align: middle;
	margin-left: -1px;
	margin-top: -2px;
	cursor: pointer;
}
* html .timeEntry_control {
	margin-top: -4px;
}
.timeEntry_wrap {
	margin-right: 12px;
}
/* ===== Spinner ===== */

.ui-spinner {
	width: 10em;
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #cacaca;
	background: url(../images/forms/spinnerBg.png) repeat-x top left!important;
	padding-left: 8px;
}
.ui-spinner-disabled {
	background: #F4F4F4;
	color: #CCC;
}
.ui-spinner input.ui-spinner-box {
	border: none!important;
	background: none!important;
	box-shadow: none!important;
	padding: 6px 0!important;
}
.ui-spinner-up, .ui-spinner-down {
	width: 18px;
	padding: 0;
	margin: 0;
	z-index: 100;
	position: absolute;
	right: 0;
	cursor: pointer;
	border: none;
}
.ui-spinner-up {
	background: url(../images/forms/spinnerTop.png) no-repeat;
	height: 13px;
	top: 0;
}
.ui-spinner-down {
	height: 13px;
	bottom: 0px;
	background: url(../images/forms/spinnerBottom.png) no-repeat;
}
.ui-spinner-pressed {
}
.ui-spinner-list, .ui-spinner-listitem {
	margin: 0;
	padding: 0;
	font-size: 11px;
}
.ui-spinner ul li, .ui-spinner-data {
	line-height: 25px;
	height: 25px;
}
/* ===== Form validation ===== */

.inputContainer {
	position: relative;
	float: left;
}
.formError {
	position: absolute;
	top: 300px;
	left: 282px;
	display: block;
	z-index: 5000;
	cursor: pointer;
}
.ajaxSubmit {
	padding: 20px;
	background: #55ea55;
	border: 1px solid #999;
	display: none;
}
.formError .formErrorContent {
	background: #202020;
	position: relative;
	z-index: 5001;
	color: #fff;
	width: 160px;
	font-size: 11px;
	border: 1px solid #000;
	padding: 2px 10px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.greenPopup .formErrorContent {
	background: #33be40;
}
.blackPopup .formErrorContent {
	background: #393939;
	color: #FFF;
}
.formError .formErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position: relative;
	z-index: 5006;
}
.formError .formErrorArrowBottom {
	box-shadow: none;
	margin: 0px 0 0 12px;
	top: 2px;
}
.formError .formErrorArrow div {
	font-size: 0px;
	height: 1px;
	background: #202020;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}
.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.greenPopup .formErrorArrow div {
	background: #33be40;
}
.blackPopup .formErrorArrow div {
	background: #393939;
	color: #FFF;
}
.formError .formErrorArrow .line10 {
	width: 15px;
	border: none;
}
.formError .formErrorArrow .line9 {
	width: 13px;
	border: none;
}
.formError .formErrorArrow .line8 {
	width: 11px;
}
.formError .formErrorArrow .line7 {
	width: 9px;
}
.formError .formErrorArrow .line6 {
	width: 7px;
}
.formError .formErrorArrow .line5 {
	width: 5px;
}
.formError .formErrorArrow .line4 {
	width: 3px;
}
.formError .formErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}
.formError .formErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}
.formError .formErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}
.checker input, .radio input, .selector select {
	cursor: pointer;
}
/* ===== Select ===== */

div.selector {
	height: 28px;
	float: left;
	
}
.orders div.selector {
	width: 130px !important;
}
div.selector select {
	width: 170px;
	font-size: 12px;
	height: 28px;
	background: #fff;
	border:1px solid #ddd;
	padding:5px;
	box-shadow:0 0 0 2px #F4F4F4;
}
.orders div.selector select {
	width: 130px !important;
}
div.selector span {
	width: 290px;
	cursor: pointer;
	position: absolute;
	right: 0;
	height: 28px;
	background: url(../images/forms/select_right.png) no-repeat center right;
	top: 0;
	line-height: 28px;
	font-size: 11px;
}
.orders div.selector span {
	width: 130px !important;
}
.dataTables_length div.selector {
	width: 45px;
	float: left;
	height: 22px;
	background: url(../images/forms/select_left_datatable.png) no-repeat top left;
	padding-left: 8px;
}
.dataTables_length div.selector span {
	width: 45px;
	height: 22px;
	background: url(../images/forms/select_right_datatable.png) no-repeat center right;
	line-height: 22px;
}
.dataTables_length div.selector select {
	width: 65px;
	left: -5px;
	height: 22px;
}
.multiple {
	height: 200px;
}
/* ===== Checkboxes ===== */

div.checker {
	width: 15px;
	height: 15px;
	position: relative;
	float: left;
}
div.checker input {
	width: 15px;
	height: 15px;
	opacity: 0;
filter: alpha(opacity:0);
	display: inline-block;
	background: none;
}
div.checker span {
	background: transparent url(../images/forms/checkbox.png) no-repeat 0 0px;
	vertical-align: middle;
	height: 15px;
	width: 15px;
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}
div.checker span.checked {
	background-position: center bottom;
}
/* ===== Radios ===== */

div.radio {
	width: 15px;
	height: 15px;
	position: relative;
	float: left;
	margin-top: 5px;
}
div.radio input {
	opacity: 0;
filter: alpha(opacity:0);
	text-align: center;
	display: inline-block;
	background: none;
	width: 15px;
	height: 15px;
}
div.radio span {
	background: transparent url(../images/forms/radio.png) no-repeat 0 0;
	vertical-align: middle;
	height: 15px;
	width: 15px;
	display: block;
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}
div.radio span.checked {
	background-position: center bottom;
}
/* ===== File uploader ===== */

div.uploader {
	width: 250px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 0 2px #f4f4f4;
	-webkit-box-shadow: 0 0 0 2px #f4f4f4;
	-moz-box-shadow: 0 0 0 2px #f4f4f4;
	border: 1px solid #DDD;
	background: white;
	padding: 2px 2px 2px 8px;
	float: left;
}
div.uploader span.action {
	width: 22px;
	background: #fff url(../images/addFiles.png) no-repeat 0 0;
	height: 22px;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	float: right;
	text-indent: -9999px;
	display: inline;
	overflow: hidden;
	cursor: pointer;
}
div.uploader:hover span.action {
	background-position: 0 -27px;
}
div.uploader:active span.action {
	background-position: 0 -54px;
}
div.uploader span.filename {
	color: #777;
	max-width: 200px;
	font-size: 11px;
	line-height: 22px;
	float: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}
div.uploader input {
	width: 266px;
	opacity: 0;
filter: alpha(opacity:0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	float: right;
	height: 26px;
	border: none;
	cursor: pointer;
}
.uploader {
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
*display: inline;
}
/* ===== Wizard ===== */

label.error {
	color: #A73939;
	font-size: 11px;
	display: block;
	width: 100%;
	white-space: nowrap;
	float: none;
	margin: 8px 0 -8px 0;
}
.selector .error {
	margin-right: -220px;
	float: right;
}
.step h1 {
	float: right;
	font-weight: bold;
	font-size: 1em;
	padding-right: 14px;
	margin-top: -28px;
}
.navigation_button {
	width : 70px;
}
.data span {
	font-size: 11px;
	text-align: center;
	border-top: 1px solid #DDD;
	padding: 12px 0;
	display: block;
}
.wizButtons .wNavButtons {
	float: right;
	margin: 14px 18px;
}
.wizButtons .status span {
	float: left;
	color: #599414;
	padding: 18px 14px 18px 32px;
	background: url(../images/icons/updateDone.png) no-repeat 14px;
	font-size: 11px;
}
/* ===== Dual select boxes ===== */

.leftPart {
	float: left;
	width: 38%;
	max-width: 45%;
}
.rightPart {
	float: right;
	width: 38%;
	max-width: 45%;
}
.dualControl {
	text-align: center;
	width: 200px;
	margin: 150px 1px;
	position: absolute;
	left: 50%;
	margin-left: -100px;
}
.boxFilter {
	max-width: 80%;
	margin: 0 0 0 0;
	float: right;
}
.filter {
	margin: 10px 0 22px 0;
	position: relative;
	width: 100%;
}
.filter > span {
	float: left;
	display: block;
	margin-top: 4px;
}
.fBtn {
	position: absolute;
	right: 10px;
	top: 9px;
	background: none!important;
	color: #aaa;
	border: none!important;
	padding: 0!important;
}
.countLabel {
	margin-top: 10px;
	display: block;
}
/* ===== WYSUWYG editor ===== */

.cleditorMain {
	background-color: white
}
.cleditorMain iframe {
	border: none;
	margin: 0;
	padding: 0
}
.cleditorMain textarea {
	border: none!important;
	margin: 0;
	padding: 0!important;
	font: 10pt Arial, Verdana;
	resize: none;
	outline: none;
	height: 127px;
	box-shadow: none!important; /* webkit grip focus */
}
.cleditorToolbar {
	background: url('../images/wysiwyg/toolbar.gif') repeat
}
.cleditorGroup {
	float: left;
	height: 26px
}
.cleditorButton {
	float: left;
	width: 24px;
	height: 24px;
	margin: 1px 0 1px 0;
	background: url('../images/wysiwyg/buttons.gif')
}
.cleditorDisabled {
	opacity: 0.3;
	filter: alpha(opacity=30)
}
.cleditorDivider {
	float: left;
	width: 1px;
	height: 23px;
	margin: 1px 0 1px 0;
	background: #CCC
}
.cleditorPopup {
	border: solid 1px #999;
	background-color: white;
	position: absolute;
	font: 10pt Arial, Verdana;
	cursor: default;
	z-index: 10000
}
.cleditorList div {
	padding: 2px 4px 2px 4px
}
.cleditorColor {
	width: 150px;
	padding: 1px 0 0 1px
}
.cleditorColor div {
	float: left;
	width: 14px;
	height: 14px;
	margin: 0 1px 1px 0
}
.cleditorPrompt {
	background-color: #F6F7F9;
	padding: 10px;
	font-size: 8.5pt
}
.cleditorPrompt input[type=text], .cleditorPrompt textarea {
	font: 8.5pt Arial, Verdana;
	width: auto;
	margin: 5px 0;
}
.cleditorMsg {
	background-color: #FDFCEE;
	width: 150px;
	padding: 4px;
	font-size: 8.5pt
}
/* ===== Multiple file uploader  ===== */

.plupload_button {
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	line-height: 13px;
	margin-top: 6px;
}
.plupload_start, .plupload_add {
	background: url(../images/ui/usualButtons.png) repeat-x;
}
.plupload_start {
	float: left;
	background-position: 0 -255px;
	border: 1px solid #576270;
}
.plupload_start:hover {
	background-position: 0 -283px;
}
.plupload_start:active {
	background-position: 0 -311px;
}
/*.plupload_start span {
	background: url(../images/icons/upload.png) no-repeat 10px 8px;
	padding: 5px 15px 6px 28px;
	display: block;
}*/
.plupload_disabled, a.plupload_disabled:hover {
	color: #a6a6a6;
	border: 1px solid #e9e9e9;
	background: none;
	cursor: default;
}
.plupload_disabled span {
	padding: 5px 13px 6px 13px;
}
.plupload_add {
	margin-right: 10px;
	background-position: 0 0;
	border: 1px solid #c7c7c7;
	float: left;
	color: #595959;
}
.plupload_add:hover {
	background-position: 0 -28px;
}
.plupload_add:active {
	background-position: 0 -56px;
}
/*.plupload_add span {
	background: url(../images/icons/add.png) no-repeat 10px;
	padding: 5px 13px 6px 26px;
	display: block;
}*/
.plupload_wrapper {
	font-size: 11px;
	;
	width: 100%;
}
.plupload_container {
}
.plupload_container input {
	border: 1px solid #DDD;
	font-size: 11px;
	width: 98%;
}
.plupload_filelist {
	margin: 0;
	padding: 0;
	list-style: none;
}
.plupload_scroll .plupload_filelist {
	height: 185px;
	background: #fff;
	overflow-y: scroll;
}
.plupload_filelist li {
	padding: 10px 12px 14px 10px;
	background: #FCFCFC url(../images/contentDivider.png) repeat-x 0 100%;
}
.plupload_filelist li:hover {
	background-color: #f9f9f9;
}
.plupload_filelist_header, .plupload_filelist_footer {
	background: #EFEFEF url(../images/backgrounds/titleBg.png) repeat-x;
	padding: 3px 12px;
	color: #878787;
}
.plupload_filelist_header {
	border-bottom: 1px solid #d5d5d5;
	height: 20px;
}
.plupload_filelist_footer {
	border-top: 1px solid #D5D5D5;
	line-height: 38px;
	vertical-align: middle;
}
.plupload_file_name {
	float: left;
	overflow: hidden;
}
.plupload_filelist .plupload_file_name {
	background: url(../images/arrow.gif) no-repeat 2px;
	padding-left: 14px;
}
.plupload_file_status {
	color: #777;
}
.plupload_file_status span {
}
.plupload_file_size, .plupload_file_status, .plupload_progress {
	float: right;
	width: 80px;
}
.plupload_file_size, .plupload_file_status, .plupload_file_action {
	text-align: right;
}
.plupload_filelist .plupload_file_name {
	width: 205px;
}
.plupload_file_action {
	float: right;
	width: 14px;
	margin-top: 3px;
	height: 14px;
	margin-left: 15px;
}
.plupload_file_action * {
	display: none;
	width: 14px;
	height: 14px;
}
li.plupload_uploading {
}
li.plupload_done {
	color: #AAA;
}
li.plupload_delete a {
	background: url(../images/icons/uploader/deleteFile.png) no-repeat 0;
}
li.plupload_failed a {
	background: url(../images/icons/uploader/error.png) no-repeat 0;
	cursor: default;
}
li.plupload_done a {
	background: url(../images/icons/uploader/uploaded.png) no-repeat 0;
	cursor: default;
}
.plupload_progress, .plupload_upload_status {
	display: none;
}
.plupload_progress_container {
	margin-top: 10px;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 1px;
}
.plupload_progress_bar {
	width: 0px;
	height: 7px;
	background: #CDEB8B;
}
.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action {
	margin-right: 17px;
}
/* Floats */

.plupload_clear, .plupload_clearer {
	clear: both;
}
.plupload_clearer, .plupload_progress_bar {
	display: block;
	font-size: 0;
	line-height: 0;
}
li.plupload_droptext {
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border: 0;
	line-height: 160px;
}
li.plupload_droptext:hover {
	background: #fff;
}
/* Footer
================================================== */

#footer {
	clear: both;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#footer .wrapper {
	text-align: center;
	padding: 20px 0 20px 222px;
	margin: 0;
}
/* Plugin styles
================================================== */

/* ===== Tipsy ===== */

.tipsy {
	padding: 4px;
	font-size: 11px;
	position: absolute;
	z-index: 100000;
}
.tipsy-inner {
	padding: 2px 8px 2px 8px;
	background-color: black;
	color: white;
	max-width: 200px;
	text-align: center;
}
.tipsy-inner {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.tipsy-arrow {
	position: absolute;
	background: url('../images/tipsy.gif') no-repeat top left;
	width: 9px;
	height: 5px;
}
.tipsy-n .tipsy-arrow {
	top: 0;
	left: 50%;
	margin-left: -4px;
}
.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
}
.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
}
.tipsy-s {
	margin-top: -5px;
}
.tipsy-w {
	margin-left: 5px;
}
.tipsy-e {
	margin-right: -5px;
}
.tipsy-n {
	margin-top: 5px;
}
.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -4px;
	background-position: bottom left;
}
.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	background-position: bottom left;
}
.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	background-position: bottom left;
}
.tipsy-e .tipsy-arrow {
	top: 50%;
	margin-top: -4px;
	right: 0;
	width: 5px;
	height: 9px;
	background-position: top right;
}
.tipsy-w .tipsy-arrow {
	top: 50%;
	margin-top: -4px;
	left: 0;
	width: 5px;
	height: 9px;
}
/* ===== Color picker ===== */

.cPicker span {
	margin-left: 36px;
	font-size: 11px;
	white-space: nowrap;
	padding-top: 2px;
	display: block;
}
#cPicker {
	position: relative;
}
#cPicker div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	background: url(../images/colorPicker/select.png) center no-repeat;
	cursor: pointer;
}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorPicker/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorPicker/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorPicker/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorPicker/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background: none!important;
	border: none!important;
	position: absolute;
	font-size: 10px!important;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989!important;
	top: 5px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0!important;
	height: 11px;
	box-shadow: none!important;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorPicker/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/colorPicker/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/colorPicker/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/colorPicker/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/colorPicker/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/colorPicker/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/colorPicker/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/colorPicker/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
/* ===== Growl notifications ===== */


div.jGrowl {
	z-index: 9999;
	color: #fff;
	font-size: 12px;
}
div.ie6.top-right {
	right: auto;
	bottom: auto;
 left: 				expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div.ie6.top-left {
 left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div.ie6.bottom-right {
 left: 				expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top: 				expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div.ie6.bottom-left {
 left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top: 				expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
}
div.ie6.center {
 left: 				expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' );
 top: 				expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' );
	width: 100%;
}
/** Normal Style Positions **/
div.jGrowl {
	position: absolute;
}
body > div.jGrowl {
	position: fixed;
}
div.jGrowl.top-left {
	left: 0px;
	top: 0px;
}
div.jGrowl.top-right {
	right: 0px;
	top: 36px;
}
div.jGrowl.bottom-left {
	left: 0px;
	bottom: 0px;
}
div.jGrowl.bottom-right {
	right: 0px;
	bottom: 0px;
}
div.jGrowl.center {
	top: 0px;
	width: 50%;
	left: 25%;
}
/** Cross Browser Styling **/
div.center div.jGrowl-notification, div.center div.jGrowl-closer {
	margin-left: auto;
	margin-right: auto;
}
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	background-color: black;
	opacity: .85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	zoom: 1;
	width: 235px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	display: none;
}
div.jGrowl div.jGrowl-notification {
	min-height: 40px;
}
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	margin: 10px;
}
div.jGrowl div.jGrowl-notification div.jGrowl-header {
	font-weight: bold;
	font-size: .85em;
}
div.jGrowl div.jGrowl-notification div.jGrowl-close {
	z-index: 99;
	float: right;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
}
div.jGrowl div.jGrowl-closer {
	padding-top: 4px;
	padding-bottom: 4px;
	cursor: pointer;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
}

/** Hide jGrowl when printing **/
@media print {
div.jGrowl {
	display: none;
}
}
/* ===== Breadcrumbs ===== */

.bc {
	margin: 10px 0;
	background: #EFEFEF url(../images/backgrounds/titleBg.png) repeat-x;
	border: 1px solid #cdcdcd;
}




ul.breadcrumbs {
	position: relative;
	z-index: 1000;
	clear: both;
}
ul.breadcrumbs li {
	float: left;
	white-space:nowrap;
}
ul.breadcrumbs li.current {
	border-right: none;
}
ul.breadcrumbs li a {
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding: 8px 20px 8px 14px;
	display: block;
	background: url(../images/backgrounds/breadcrumbArrow.png) no-repeat 100% 13px;
}
ul.breadcrumbs li a:hover, ul.breadcrumbs li.hover a {
	color: #2B6893;
}
ul.breadcrumbs > li:first-child {
	background: url(../images/icons/iconHome.gif) no-repeat 12px 12px;
}
ul.breadcrumbs > li:first-child a {
	padding-left: 32px;
}
ul.breadcrumbs li.current a {
	color: #333333;
	font-weight: bold;
	background: none;
}
ul.breadcrumbs li ul {
	position: absolute;
	background: url(../images/subArrow.png) no-repeat 10px 5px;
	font-size: 11px;
	width: 180px;
	top: 35px;
	display: none;
	padding-top: 10px;
	margin-left: -1px;
}
ul.breadcrumbs li ul li {
	float: none;
	width: 180px;
	border-bottom: 1px solid #1c252b;
	border-top: 1px solid #404950;
	border-left: none;
	border-right: none;
	background: url(../images/backgrounds/navBg.jpg);
	padding: 0;
}
ul.breadcrumbs li ul li:first-child {
	-webkit-border-top-right-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-topleft: 2px;
}
ul.breadcrumbs li ul li:last-child {
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
}
ul.breadcrumbs li ul li:hover {
	border-top: 1px solid #374047;
}
ul.breadcrumbs li ul li a {
	text-decoration: none;
	padding: 5px 0;
	color: #CCCCCC !important;
	display: block;
	padding: 8px 12px 8px 32px;
	background: url(../images/subIcon.png) no-repeat 12px 15px;
}
ul.breadcrumbs li ul li a:hover {
	background: #293138 url(../images/subIcon.png) no-repeat 12px 15px;
}
/* ===== PRE tag styles ===== */

.SRC_Wrap {
	height: auto;
	font-size: 12px;
}
.SRC_Title {
	text-align: center;
	color: #555;
	border-bottom: 2px solid #999;
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	padding: 5px;
	font-weight: 700;
}
.SRC_Line {
	width: 100%;
	background-color: #fafafa;
	min-height: 28px;
	line-height: 28px;
}
.SRC_Line:nth-child(even) {
	background-color: #f5f5f5;
}
.SRC_NumBox {
	width: 5%;
	float: left;
}
.SRC_Num {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	text-align: right;
	color: #555;
	font-weight: 500;
	padding-right: 2px;
	width: 100%;
	height: auto;
	min-height: 28px;
	line-height: 28px;
}
.SRC_CodeContent {
	white-space: pre-wrap;
	border-left: 1px solid #EFEFEF;
	font-size: 12px;
	padding-left: 12px;
	font-family: "Courier New", Courier, monospace;
	margin: 0px;
	min-height: 28px;
	line-height: 28px;
}
.SRC_NumContent {
	text-align: right;
	margin-right: 4px;
	color: #555;
}
.SRC_CodeBox {
	float: left;
	width: 95%;
}
.SC_blue {
	color: blue;
}
.SC_grey {
	color: grey;
}
.SC_navy {
	color: navy;
}
.SC_green {
	color: green;
}
.SC_orange {
	color: #930;
}
.SC_red {
	color: #F00;
}
.SC_teal {
	color: teal;
}
.SC_gold {
	color: #FC0;
}
.SC_pink {
	color: #ff68a4;
}
.SC_bold {
	font-weight: 700;
}
/* ===== Chosen multiple plugin with dropdown ===== */

.chzn-container {
	position: relative;
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 50%!important;
}
.chzn-container .chzn-drop {
	background: #fff;
	border: 1px solid #d5d5d5;
	border-top: 0;
	position: absolute;
	top: 29px;
	left: 0;
	z-index: 998;
	width: 99.8%!important;
}
.chzn-container-single .chzn-single {
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 23px;
	line-height: 24px;
	padding: 0 0 0 8px;
	color: #444444;
	text-decoration: none;
}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 13px;
	font-size: 1px;
	background: url(chosen-sprite.html) right top no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
	background-position: right -11px;
}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 18px;
}
.chzn-container-single .chzn-single div b {
	background: url('chosen-sprite.html') no-repeat 0 0;
	display: block;
	width: 100%;
	height: 100%;
}
.chzn-container-single .chzn-search {
	padding: 3px 4px;
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
}
.chzn-container-single .chzn-search input {
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	outline: 0;
	border: 1px solid #aaa;
	font-family: sans-serif;
	font-size: 1em;
}
.chzn-container-single .chzn-drop {
}
.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}
.chzn-container-multi .chzn-choices {
	border: 1px solid #ddd;
	margin: 0;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	position: relative;
	font-size: 12px;
	padding: 4px;
	background: white;
	box-shadow: 0 0 0 2px #f4f4f4;
	-webkit-box-shadow: 0 0 0 2px #f4f4f4;
	-moz-box-shadow: 0 0 0 2px #f4f4f4;
	color: #656565;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	font-family: sans-serif;
	font-size: 12px!important;
	padding: 11px 4px 10px 4px!important;
	margin: 0;
	outline: 0;
	box-shadow: none!important;
}
.chzn-container-multi .chzn-choices .search-field .default {
	color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
	position: relative;
	line-height: 16px;
	font-size: 11px;
	border: 1px solid #A5D24A;
	display: block;
	float: left;
	padding: 5px 24px 5px 8px;
	background: #CDE69C;
	color: #638421;
	margin: 4px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
	background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 6px;
	top: 8px;
	width: 10px;
	height: 10px;
	font-size: 1px;
	background: url(../images/icons/closeSelection.png) 50% no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	background-position: right -11px;
}
.chzn-container .chzn-results {
	margin: 0 4px 4px 0;
	max-height: 240px;
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}
.chzn-container-multi .chzn-results {
	padding: 0;
	margin: 0;
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 14px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
	font-size: 11px;
}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: #3875d7;
	color: #fff;
}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
	background: transparent;
}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #2e74a6;
	font-weight: bold;
	font-size: 10px;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
}
.chzn-container .chzn-results .group-option {
	padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
	display: none;
}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;

	text-align: center;
	width: 321px; /* This should be dynamic with js */
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {
	bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
	background: url('chosen-sprite.html') no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
	background: url('chosen-sprite.html') no-repeat -22px -3px;
}
.chzn-container-active .chzn-single {
	border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #aaa;
	background-color: #eee;
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
	background-position: -18px 1px;
}
.chzn-container-active .chzn-choices {
	border: 1px solid #d5d5d5;
}
.chzn-container-active .chzn-choices .search-field input {
	color: #111 !important;
}
.chzn-disabled {
	cursor: default;
	opacity: 0.5 !important;
}
.chzn-disabled .chzn-single {
	cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
	cursor: default;
}


.tb_action {
	background: #fff url(../images/icons/action-sprite.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.tb_action_active {
	background-position: -60px 0px;
}
.tb_action_edit {
	background-position: -40px 0px;
}
.sTable tbody td.actBtns {
	padding: 8px 2px;
}
.smallText {
	font-size: 11px;
	padding: 7px 6px;
	background: white;
	border: 1px solid #DDD;
	width: 20px;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0 0 0 2px #F4F4F4;
	-webkit-box-shadow: 0 0 0 2px #F4F4F4;
	-moz-box-shadow: 0 0 0 2px #f4f4f4;
	color: #656565;
	text-align: center;
}
.smallButton img {
	height: 14px;
}
.actBtns {
	width: 120px;
}
.control_frm {
	float: left;
	width: 100%;
	margin: 10px 0px;
}
.title_name_data {
	width: 400px;/*554px;*/
}
.tb_data_small {
	width: 50px;
}
.content_control_hide {
	height: 17px;
	float: left;
	width: 100%;
}
.ct_hide {
	display: none;
}
.ct_hide li {
	display: inline;
	float: left;
	margin-right: 5px;
}
.control_frm .bc {
	margin-bottom: 0px;
}
.icon_question {
	padding-left: 10px;
	float: left;
	margin-top: 6px;
	cursor: pointer;
}
.icon_que {
	cursor: pointer;
}
#chose_date_time {
	display: none;
}
.thumb_art img {
	border: 3px solid #fff;
	box-shadow: 0px 0px 3px #CCC;
}
.stt_tb {
	width: 35px;
}
.ac_list_li {
	display: inline;
	float: left;
	position: relative;
	cursor: pointer;
	margin-left: -1px;
	
}

.action_list  {
	color: #474747;
	text-decoration: none;
	display: block;
	float: left;
	height: 27px;
	line-height: 26px;
	position:relative;
	font-weight:bold;
	padding: 0px 29px;
	background: url(../images/backgrounds/titleBg.png) repeat-x 0 0;
	border: 1px solid #B9B9B9;
	border-radius: 20px;
	margin-left:5px;
}
.ac_list_li ul li a{
	color:#fff;
	padding:10px 10px 10px 28px;
	display:block;
}
.action_list img{
	position:absolute;
	top: 5px;

	right: 8px;	
}
.control_frm .ct_art:last-child{
	border-right:none !important;
}
.control_frm .ct_art:first-child{
	border-left:none !important;
	padding-left:0px !important;
}


.ct_art{
	float: left;
	padding-right: 20px;
	border-left: 1px solid #CCC;
	padding-left: 20px;
	border-right: 1px solid white;
}
#search_art{
	float:left;
	font-size: 11px;
	padding: 7px 6px;
	background: white;
	border: 1px solid #DDD;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0 0 0 2px #F4F4F4;
	-webkit-box-shadow: 0 0 0 2px #F4F4F4;
	-moz-box-shadow: 0 0 0 2px #f4f4f4;
	color: #656565;
	border-radius:5px;
}

#sale_price,#price,#code_pro{
	width:300px;
}
#loginError, #echoMessage{
	display:none; text-align:center; background:#000; color:#fff; border-radius:2px; height:30px; margin-top:20px; line-height:30px;
}
.ajaxloader, .numloader{
	position:absolute; left:50%; top:50%; display:none;
}
#ajaxloader{
	position:relative;
	float:left;
}
.pagetransfer{
	margin-top:50px; height:auto !important; font-weight:bold; text-align:center; padding-bottom:20px;
}
.modulename{
	width:765px;
}
.moduletype{
	width:165px;
}
.moduleaction{
	width:123px;
}
#sortable tr:hover{
	cursor:move;
	background:#ddd !important;
	font-weight:bold;
}
.tag_on_ar{
	border: 1px solid #A5D24A;
	border-image: initial;
	display: block;
	float: left;
	padding: 3px 8px 2px;
	background: #CDE69C;
	color: #638421;
	margin: 5px;
	
	border-radius: 3px;
}
.tag_on_ar a{
	font-weight: bold;
	color: #82AD2B;
	font-size: 11px;
	float: right;
	
	margin-left: 6px;
	margin-top: -1px;
}

/*button show*/
/*on-off*/
.diamondToggle{
	border:1px solid #d4d4d4;
	background:#D33331;
	padding:1px;
	display:inline-block;
	width:52px;
	height:23px;
	position:relative;
	cursor:pointer;
	-o-transition:all 0.3s;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	transition:all 0.3s;
}
.diamondToggle:before{
	content:'OFF';
	position:absolute;
	top:10%;
	right:3%;
	color:#FFF;
	font-size:11px;
}
.diamondToggle:after{
	content:'';
	position:absolute;
	width:50%;
	height:100%;
	-moz-box-shadow:0 2px 2px rgba(26,53,71,0.25),0 0 0 1px rgba(26,53,71,0.07);
	-webkit-box-shadow:0 2px 2px rgba(26,53,71,0.25),0 0 0 1px rgba(26,53,71,0.07);
	box-shadow:0 2px 2px rgba(26,53,71,0.25),0 0 0 1px rgba(26,53,71,0.07);
	cursor:pointer;
	background-color:#FFF;
	transition:all 0.1s ease-in .1s;
	left:0px;
	top:0px;
}
.diamondToggle.diamondToggleOff{
	background-color:#3672A0;
}
.diamondToggle.diamondToggleOff:before{
content:'ON';
position:absolute;
color:#FFF;
top:10%;
left:10%;
font-size:11px;
text-shadow:0 1px rgba(255,255,255,0.5);
text-align:left;
}
.diamondToggle.diamondToggleOff:after{
	left:31px
}
.file_input:hover, .file_input:active {
    background: #008bff none repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}

.file_input {
    background-color: #fff;
    border: 1px solid #008bff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    color: #008bff;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    outline: medium none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}
/*end on-off*/
span.close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999999;
    float: left;
    padding: 6px 10px;
    font-size: 13px;
    color: #FFF;
    display: none;
    cursor: pointer;
}
@media screen and (max-width:1024px){
	.userNav ul li span{display: none;}
}